<!-- <div class="activities-card">
  <mat-card>
    <mat-card-title-group>
      <img mat-card-lg-image [src]='obj.img' />
    </mat-card-title-group>
    <mat-card-header>
      <mat-card-title>{{obj.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{obj.content}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <p>{{obj.hours}} שעות</p>
      <button mat-button (click)='buttonClicked.emit()'>שריין</button>
    </mat-card-actions>
  </mat-card>
</div> -->

<div class="activities-card">
  <mat-card>
    <mat-card-title-group>
      <img mat-card-lg-image [src]='obj.sitePicture' />
    </mat-card-title-group>
    <mat-card-header>
      <mat-card-title>{{obj.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{obj.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <!-- <p>{{obj.hours}} שעות</p> -->
      <button mat-button (click)='buttonClicked.emit()'>שריין</button>
    </mat-card-actions>
  </mat-card>
</div>
