.activities-card {
    display: inline-block;
    box-shadow: 0px 3px 6px #00000029;
    padding: 15px;
    border: 1px solid #a8a8a8;
    width: 220px;
    height: 240px;
    img {
        height: 120px;
        width: 200px;
        border: 1px solid rgba(112, 112, 112, .8);
    }
    button {
        width: 46px;
        height: 22px;
        box-shadow: 0px 6px 15px #a7d2ef;
        background: #448ecd;
        border: none;
        font-size: 12px;
        color: white;
        border-radius: 8px;
    }
    button:hover{
        cursor: pointer;
    }
    #title {
        font-size: 14px;
        font-weight: 600;
    }
    #content {
        word-wrap: break-word;
    }
    .bottom {
        display: flex;
        justify-content: space-between;
        direction: rtl;
    }
}
