@import "../../../../../../styles.scss";

app-navigation-grid {
  width: 100%;
  height: 100%;
}

.button-container {
  padding-left: spacing(3);
}

.tour-title-container {
  direction: rtl;
}

@media  screen and (max-width:1024px) {
  
  .additions-container{
    padding-left: spacing(7);

  }
}