<div class="calendar-card">
    <div class="right">
        <div>
            <img *ngIf='props.event.extendedProps.img' [src]='props.event.extendedProps.img' />
            <svg-icon *ngIf='props.event.extendedProps.svgUrl' [src]='props.event.extendedProps.svgUrl'></svg-icon>

        </div>
        <div>
            <p class="title">{{props.event.title}}</p>
            <p class='timeText'>{{props.timeText}}</p>
        </div>
    </div>
    <div class="left">
        <div class="event-icons">
            <app-icon type="svg" size="35" key="white-circle"></app-icon>
            <div class="main-icon">
                <app-icon type="svg" size="20" key="man-with-bag"></app-icon>
            </div>
        
        </div>
    </div>
</div>