.calendar-card {
    max-height: 100%;
    display: flex;
    img {
        height: 100%;
    }
    .title {
        font-weight: 600;
    }
    p {
        margin: 0;
    }
    .right,.left {
        display: flex;
        gap: 1rem;
    }
    
}