@import "../../../../styles.scss";

.header {
  height: 118px;
  max-width: 100%;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(239, 239, 239, 1) 100%
  );
  display: flex;

  &__select-option {
    display: flex;
    height: 100%;
    padding: 10px 0;
    height: fit-content;
    &-svg {
      margin-left: 25px;
      margin-left: 10px;
      border-radius: 50%;
      height: 50px;
      width: 50px;
    }
    &-text {
      align-self: center;
      margin-left: auto;

    }
  }


  &__form {
    margin: auto;
    margin-top: 25px;
    justify-content: space-evenly;
    display: flex;
    gap: 20px;
    direction: rtl;
    width: 80%;
    padding: 0 10px;

    &-group {
      align-items: flex-start;
      flex: 30%;
      display: flex;
      // border: 1px solid black;
      flex-direction: column;
      position: relative;
      justify-content: space-evenly;

      &:not(:last-child) {
        margin-left: 10px;
      }
      &-label {
        font-size: 12px;
        font-weight: bold;
      }

      &-pseudo-input {
        height: 45px;
        width: 100%;
        border: 1px solid #a2a2a2;
        border: none !important;
        border-radius: 5px;
        background-color: #ffffff;
        cursor: pointer;
        position: relative;
        &-value {
          position: absolute;
          top: 50%;
          right: 5px;
          transform: translateY(-50%);
        }
      }

      &-input {
        opacity: 0;
       width: 0;
        cursor: pointer;
      }

      &-input,
      &-select {
        height: 45px;
        border: 1px solid #a2a2a2;
        border: none !important;
        border-radius: 5px;
      }

      &-select {
        border-radius: 5px;
        height: 45px;
        border: 1px solid #a2a2a2;
      }
      &-svg {
        top: 50%;
        transform: translate(40%, -0%);
        position: absolute;
        left: 0;
        width: 20px !important;
        z-index: 10000;
        height: 20px !important;

        & * {
          fill: #66a3d6 !important;
          width: 20px !important;
          height: 20px !important;
        }
      }
    }
  }
}

.header {

  ::ng-deep .mat-select-value-text {
    margin: auto;
  }

  ::ng-deep .mat-select-value,
  ::ng-deep .mat-select-value-text,
  ::ng-deep .mat-select-min-line {
    height: 40px !important;
    padding-right: 5px;
    margin-top: 10px;
    height: 5rem !important;
    vertical-align: middle;
    padding-right: 5px;
  }

  ::ng-deep .mat-select-value-text {
    margin: auto;
  }
  ::ng-deep .mat-select-min-line {
    height: 40px !important;
  }
  ::ng-deep .mat-select-panel {
    text-align: right;
    margin-left: auto;
    // width: 100% !important;
    // min-width: 100% !important;
    // max-width: 100% !important;
  }

  ::ng-deep .cdk-overlay-pane {
    text-align: right;
    transform: translateX(0) !important;
    transform: translatey(51px) !important;
  }

  ::ng-deep .mat-select-panel {
    text-align: right;
    margin-left: auto;
    // width: 100%;
    // max-width: 100% !important;
    max-height: fit-content !important;
  }

  ::ng-deep .mat-form-field {
    // width: 100%;
  }

  ::ng-deep .mat-form-field-underline {
    display: none;
  }

  ::ng-deep .mat-select-arrow {
    border: 0 !important;
    &:before {
      border-style: solid;
      border-width: 0.15em 0.15em 0 0;
      content: "";
      display: inline-block;
      height: 0.9em;
      left: 20px;
      position: relative;
      top: -10px;
      transform: rotate(135deg);
      vertical-align: top;
      width: 0.9em;
      color: #66a3d6;
    }
  }

  ::ng-deep .mat-form-field-infix,
  .mat-form-field-appearance-legacy .mat-form-field-infix {
    width: auto;
    padding: 0 !important;
    border-top: 0;
  }

  ::ng-deep .mat-form-field-wrapper,
  .mat-form-field-appearance-legacy .mat-form-field-wrapper,
  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }

  ::ng-deep .mat-select-trigger {
    vertical-align: middle;
    height: 100%;
  }

//   ::ng-deep .airbnb-calendar-container {
//     left: -550px !important;
//   }
  
// ::ng-deep mat-form-field{
//   width: 100% !important;
// }
::ng-deep .airbnb-calendar-container{position:fixed;
  left: 50vw !important;
  top: 50vh !important;
  transform: translate(-50%, -50%);
}

  ::ng-deep mat-form-field {
   width: 100% !important;
  }
}

.mat-select-panel .mat-primary {
  text-align: right;
}

.mat-option {
  text-align: right;
  margin: 10px 0;
  min-height: 55px;
}

mat-select,
#input {
  background-color: #ffffff;
  border: 1px solid #a2a2a2;
  border-bottom: 1px solid #a2a2a2;
  height: 45px;
  text-align: right;
  margin-left: 40px;
  border: none !important;
}
.negative-z-index {
  z-index: -1;
}

.label-input {
  // width: 47px !important;
}

.headline {
  font-weight: bold;
  font-size: x-larger;
}
