div {
    background: #FFFFFF;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mat-icon {
    position: relative;
    bottom: 20px;
    left: 45px;
}
