<div class="working-steps" id="working-steps">
  <div class="working-steps__step" *ngFor="let step of steps; let i = index"
    (click)="onStepClick({ path: step.path, index: i })">
    <div class="working-steps__step-icon" [ngClass]="{ active: activeStep === i }">
      <app-icon [color]="activeStep === i ? 'active' : 'default'" type="svg" [key]="step.svgUrl" [size]="35"></app-icon>
    </div>
    <div class="working-steps__step-text" [ngClass]="{ chosen__text: activeStep == i }">
      {{ step.label }}
    </div>
  </div>
  <div class="working-steps__backstroke"></div>
</div>
