<div fxLayout="row" class="steps-container" fxLayoutAlign="center center">
  <div *ngFor="let step of steps; let i = index" fxLayout="row">
    <div [appSize] [size]="8" [isSleep]="isSleep" type="step" (click)="onStepClick(i)">
      <app-icon-card [step]="step" [variant]="variant" (onClick)="onCardClick(step)"></app-icon-card>
    </div>
    <div *ngIf="divider && i !== (steps.length -1)" [appSize] [size]="6" class="backstroke-container"
      fxLayout="column" fxLayoutAlign="center center">
      <div class="backstroke"></div>
    </div>
  </div>
</div>