@import "../../../styles.scss";

.steps-container {
  width: 100%;
  height: 100%;
  direction: rtl;

  .backstroke-container {
    width: 100%;

    .backstroke {
      width: 100%;
      height: 8px;
      background-color: #E4E4E4;
      transform: translateY(-50%);
    }
  }

}
