<div class="assemble-container">
  <mat-grid-list cols="4" rowHeight="65vh">
    <mat-grid-tile *ngFor="let squad of squads; let i = index">
      <ng-container [ngSwitch]="squad.group.key">

        <ng-container *ngSwitchCase="'details'">
          <app-form-details [detailsGroup]="squad.group" [budgetGroup]="budgetGroup"></app-form-details>
        </ng-container>

        <ng-container *ngSwitchCase="'client'">
          <app-squad-client [group]="squad.group"></app-squad-client>
        </ng-container>

        <ng-container *ngSwitchCase="'assemble'">
          <app-squad-assemble-form [group]="squad.group"></app-squad-assemble-form>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <div class="form-container">
            <app-squad-group [group]="squad.group" [hasBottom]="squad.hasBottom">
            </app-squad-group>
          </div>
        </ng-container>

        <div *ngIf="i !== squads.length - 1" class="divider"></div>
      </ng-container>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<ng-template> </ng-template>