@import "../../../../../styles.scss";

app-squad-schedule,
app-squad-client,
app-squad-new-client,
app-squad-group,
app-squad-details,
.assemble-container {
  height: 100%;
  width: 100%;
}

.row {
  width: 100%;
}

@media screen and (max-width: "1280px") {
  .row {
    .schedule {
      order: 2 !important;
    }
    .client {
      order: 1 !important;
    }
    .details {
      order: 3 !important;
    }
    .group {
      order: 4 !important;
    }
    // flex-direction: row-reverse;
  }
}

.assemble-container {
  padding-left: spacing(3);
}

@media screen and (max-width: "1280px") {
  .assemble-container {
    overflow: scroll;
    padding-left: spacing(3);
  }
}

.divider {
  height: 90%;
  width: 0.5rem;
  margin-right: 0.5rem;
  border-right: 1px solid color(border);
}

@media only screen and (max-width: 1280px) {
  .client,
  .schedule,
  .newClient {
    margin-top: 2rem;
  }
}

.form-container {
}

.schedule {
  order: 4;
}
.client {
  order: 3;
}
.details {
  order: 1;
}
.group {
  order: 2; 
}
