@import "../../../../../styles.scss";

app-squad-schedule,
app-squad-client,
app-squad-new-client,
app-squad-group,
app-squad-details,
.assemble-container {
  height: 100%;
  width: 100%;
}

.row {
  width: 100%;
}

.assemble-container {
  padding-left: spacing(3);
}

.divider {
  height: 90%;
  width: 0.5rem;
  margin-right: 0.5rem;
  border-right: 1px solid color(border);
}
