<div class="nav-container">
  <div fxLayout="column" fxLayoutGap="40px">
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="80px">
      <app-typography [bold]="600" [size]="24">
        {{ title }}
      </app-typography>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="80px">
      <div class="step-card" *ngFor="let item of cards$ | async;">
        <app-icon-card (onClick)="onCardClick($event)" [item]="item"></app-icon-card>
      </div>
    </div>
  </div>
</div>
