@import "../../.././../../../styles.scss";

div,
app-form-container,
app-form-input,
app-form-header {
  height: 100%;
  width: 100%;
}

div.form-title {
  height: 30px !important;
  margin-bottom: spacing(1);
}

.label-text {
  padding-left: spacing(1);
}

.divider {
  display: flex;
  justify-content: center;
}

div.list-item {
  width: fit-content;
}

.container {
  ::ng-deep .airbnb-calendar-container {
    left: -500px !important;
  }
}

@media screen and(max-width:1024px) {
  .container {
    ::ng-deep .airbnb-calendar-container {
      left: -750px !important;
    }
  }
}
