<div class="tour-container" dir="rtl">
  <div class="tour-header">
    <!-- <app-typography [size]="18" [bold]="600" color="primary" *ngIf="item.globalParameters?.startDate"> -->
    <app-typography  [size]="18" [bold]="600" color="primary"  *ngIf="item" >
      <!-- יום {{ i }} : {{ item.globalParameters.startDate | date: "M/d/yy" }} -->
      יום {{ i }} : {{ item.globalParameters.startDate }}
    </app-typography>
  </div>
  <div class="tour-days">
    <mat-accordion [displayMode]="'gutter'">
      <ng-container>

          <app-expend-panel *ngFor="let location of locations"  class="small" matBadge="!" matBadgeSize="small"
          matBadgeColor="warn" variant="tour">
          <div title fxLayout="row" fxLayoutAlign="start center">
            <app-typography color="text-light" [bold]="600" [size]="12" fxFlex="6" *ngIf="location.pickUpDate">{{
              location.pickUpDate | date: "HH:mm" }}</app-typography> 
            <app-typography [size]="18">{{  location.pickupLocation  }} -
              {{ location.dropdownLocation }}</app-typography>

          </div>
        <div description></div>
        <!-- [location]="location" -->
        <!-- <app-transport-form [order]="item" [editMode]="editMode" content>
        </app-transport-form> -->
        <!-- <ng-container [ngSwitch]="orderType">
          <ng-container *ngSwitchCase="1">

            <app-transport-form [order]="item" [editMode]="editMode"  content>
            </app-transport-form>

          </ng-container>
  
          <ng-container *ngSwitchCase="4">
           
          </ng-container>
        </ng-container> -->

      
        <app-transport-form *ngIf="orderType==1" [item]="item" [editMode]="editMode"  content>
        </app-transport-form>

        <app-economy-form *ngIf="orderType==4" [item]="item" [editMode]="editMode" content>
        </app-economy-form>

        <!-- <app-order-form [order]="item" [editMode]="editMode" content>
        </app-order-form> -->
        <!-- <app-economy-form [order]="item" [editMode]="editMode" content>
        </app-economy-form> -->
        <!-- <app-transport-details *ngIf="editMode" content></app-transport-details> -->
        <app-form-details *ngIf="editMode" content></app-form-details>
      </app-expend-panel>
     
      </ng-container>
    </mat-accordion>
  </div>
</div>