<div class="tour-container">
  <div class="tour-header">
    <app-typography
      [size]="18"
      [bold]="600"
      color="primary"
      *ngIf="schedule.date"
    >
      יום {{ i }} : {{ schedule.date | date: "M/d/yy" }}
    </app-typography>
  </div>
  <div class="tour-days">
    <mat-accordion [displayMode]="'gutter'">
      <ng-container>
        <app-expend-panel
          *ngFor="let location of schedule.locations"
          class="small"
          matBadge="!"
          matBadgeSize="small"
          matBadgeColor="warn"
          variant="tour"
        >
          <div title fxLayout="row" fxLayoutAlign="start center">
            <app-typography
              color="text-light"
              [bold]="600"
              [size]="12"
              fxFlex="6"
              *ngIf="location.pickUpDate"
              >{{ location.pickUpDate | date: "HH:mm" }}</app-typography
            >
            <app-typography [size]="18"
              >{{ location.pickupLocation }} -
              {{ location.dropdownLocation }}</app-typography
            >
          </div>

          <div description></div>
          <app-transport-form [transport]="schedule.transport" [location]="location" [editMode]="editMode" content></app-transport-form>
          <app-transport-details *ngIf="!editMode" content></app-transport-details>
        </app-expend-panel>
      </ng-container>
    </mat-accordion>
  </div>
</div>
