@import "../../../../../styles.scss";

div {
  width: 100%;
  height: 100%;
}

.tour-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .tour-header {
    padding: 1%;
  }
}

mat-accordion {
  text-align: right;

  app-expend-panel {
    width: 100%;
    height: 100%;
  }
}

::ng-deep .small .mat-badge-content {
  // width: 18px !important;
  // height: 20px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0px;
  background-color: color(accent) !important;
}
