<div class="timeline" [ngClass]="!item.secondIcon ? 'one-element' : null"
    [ngStyle]="{'border-right': '9px solid ' + item.color}">
    <div class="left-icons" *ngIf='item.secondIcon'>
        <app-svg-icon [firstIcon]="item.firstIcon ? item.firstIcon : 'open-plus'" [secondIcon]='item.secondIcon'
            SelectedColor='accent-icon'></app-svg-icon>
    </div>
    <div>
        <app-simple-card [title]='item.title' [startTime]='item.startTime' [color]='item.color' [endTime]='item.endTime'
            [icon]='item.iconSrc'>
        </app-simple-card>
    </div>
</div>