<div fxLayout="column" fxFlexFill>
  <div fxFlex="35">
    <app-form
      [formTemplate]="formTemplate"
      [slots]="{
        button: formButton,
        pickUpHour: this.pickUpHour,
        dropDownHour: this.dropDownHour
      }"
      [editMode]="editMode"
      (register)="onRegister($event)"
    ></app-form>
  </div>
  <div fxFlex="35">
    <app-transport-details
      *ngIf="columns"
      [columns]="columns"
    ></app-transport-details>
  </div>
</div>

<ng-template #pickUpHour>
  <div fxLayout="column" class="ngx-timepicker-field">
    <span>עד שעה</span>

    <ngx-timepicker-field
      [disabled]="editMode"
      [format]="24"
      defaultTime="09:00"
      controlOnly="false"
      (timeChanged)="endTimeChanged($event)"
    ></ngx-timepicker-field>
  </div>
</ng-template>

<ng-template class="ngx-timepicker-field-example" #dropDownHour>
  <div fxLayout="column" class="ngx-timepicker-field">
    <span>עד שעה</span>

    <ngx-timepicker-field
      [disabled]="editMode"
      [format]="24"
      defaultTime="09:00"
      controlOnly="false"
      (timeChanged)="startTimeChanged($event)"
    ></ngx-timepicker-field>
  </div>
</ng-template>
<ng-template #formButton>
  <div class="button-container" fxLayout="column" fxLayoutAlign="end end">
    <button
      *ngIf="!editMode"
      type="submit"
      color="primary"
      (click)="onSave()"
      mat-raised-button
    >
      שמור
    </button>
    <button
      *ngIf="editMode"
      type="submit"
      class="edit-button"
      (click)="onEdit()"
      mat-icon-button
    >
      <app-icon scale="1" color="primary" key="edit" type="mat"></app-icon>
    </button>
  </div>
</ng-template>
