@import "../../../styles.scss";

.icon-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  align-content: center;

  .primary {
    color: color(primary);
  }
  .accent {
    color: color(accent);
  }
  .warn {
    color: color(warn);
  }
  .default {
    color: color(default);
  }

  .active {
    color: color(paper) !important;
  }
}
