.icon-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  align-content: center;

  .default {
    color: #bababa;
  }

  .active {
    color: #fff !important;
  }
}

