@import "../../../styles.scss";

.icon-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  align-content: center;
  .white{
    color: white;
  }
  .primary {
    color: color(primary);
  }

  .accent-icon {
    color: #FC1F9D;
  }
  .accent {
    color: color(accent);
  }
  .danger {
    color: color(danger);
  }

  .default {
    color: color(default);
  }
  .success {
    color: color(success);
  }

  .disable {
    color: color(disable);
  }

  .active {
    color: color(paper) !important;
  }
}
