<!-- <mat-grid-list cols="2" rowHeight="5vh">
  <mat-grid-tile> </mat-grid-tile>

  <mat-grid-tile>
    <app-typography color="primary">
      {{ text }}
    </app-typography>
  </mat-grid-tile>
</mat-grid-list> -->

<div class="header" fxLayout="row" fxFill fxLayoutAlign="space-between center">
  <div fxFlex="50">
    <app-typography color="primary">
      {{ text }}
    </app-typography>
  </div>
  <div fxFlex="50" fxLayoutAlign="end">
    <ng-container *ngIf="custom" >
      <app-typography color="primary">
        {{ text }}
      </app-typography>
    </ng-container>
  </div>
</div>
