@import "../../../../styles.scss";

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: spacing(1);
}

div.header {
  direction: rtl !important;
}

div.title {
  border-bottom: 1px solid color(primary);
}


