<div class="SOBD">
  <ng-content></ng-content>
  <div class="SOBD__days">
    <div class="SOBD__days-current-day">
      <button
        class="SOBD__days-current-day-previous"
        (click)="previousPage()"
        [ngClass]="{ disabled: currentDay === 0 }"
        [disabled]="currentDay === 0"
      >
        &#60;
      </button>
      <span class="SOBD__days-current-day-text"
        ><span> {{ sleepingOptionsByDay[currentDay].day }}</span> זמינות יום
        {{ currentDay + 1 }}</span
      >
      <button
        class="SOBD__days-current-day-next"
        (click)="nextPage()"
        [ngClass]="{ disabled: currentDay === sleepingOptionsByDay.length - 1 }"
        [disabled]="currentDay === sleepingOptionsByDay.length - 1"
      >
        &#62;
      </button>
    </div>
    <div class="SOBD__days-paginatior">
      <span
        *ngFor="let day of sleepingOptionsByDay; let i = index"
        (click)="setCurrentDay(i)"
        [ngClass]="{ chosen: i === currentDay }"
        >{{ i + 1 }}</span
      >
    </div>
  </div>

  <div class="flex">
    <div
      class="SOBD__sleep-areas-options-item"
      *ngFor="
        let item of sleepingOptionsByDay[currentDay].options;
        let i = index
      "
    >
      <svg-icon
        class="SOBD__sleep-areas-options-item-svg"
        src=" {{ item.svgUrl }} "
      ></svg-icon>
      <p class="SOBD__sleep-areas-options-item-count font-color-blue">
        <span class="SOBD__sleep-areas-options-item-count-number">
          <span>
            {{ item.sleepingAreas }}
          </span></span
        >
        <span>
          {{ item.type }}
        </span>
      </p>
      <p class="SOBD__sleep-areas-options-item-count">
        <span class="SOBD__sleep-areas-options-item-count-number"
          ><span>
            {{ item.avialableSpaces }}
          </span></span
        >
        <span>
          {{ item.singleUnit }}
        </span>
      </p>
      <p class="SOBD__sleep-areas-options-item-count">
        <span class="SOBD__sleep-areas-options-item-count-number"
          ><span>
            {{ item.sleepingAreas * item.avialableSpaces }}
          </span></span
        >
        <span>לנים</span>
      </p>
    </div>
  </div>
</div>
