@import "../../../../styles.scss";



.table-details {
  flex-direction: row-reverse;
}

.row-item {
  padding-top: spacing(2);
  padding-bottom: spacing(2);
}

.item-label {
  padding-left: spacing(1);

}

.row-button {
  padding-bottom: spacing(2);
}

.label-container {
  border-bottom: 2px solid color(primary);
}

.divider {
  height: 1px;
  margin-bottom: spacing(1);
  margin-top: spacing(1);
  background-color: color(default);
}
