@import "../../../../styles.scss";

mat-grid-list,
mat-grid-tile {
  height: 100%;
  width: 100%;
}

app-typography {
  height: 100%;
}

.divider {
  height: 1px;
  margin-bottom: spacing(1);
  margin-top: spacing(1);
  background-color: color(default);
}
