<div fxLayout="row wrap" dir="rtl">
  <div fxFlex="15" fxLayout="column">
    <mat-grid-list cols="1" rowHeight="6vh">
      <mat-grid-tile *ngFor="let column of columns" [rowspan]="column.rows">
        <div fxFill fxLayout="row" fxLayoutAlign="start center">
          <app-typography [bold]="600" underline="underline">
            {{ column.label }}:
          </app-typography>
          <app-typography underline="underline">
            {{ column?.value }}
          </app-typography>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div fxFlex="85" fxLayout="row wrap" class="content">
    <mat-grid-list cols="4" rowHeight="6vh" *ngFor="let row of data">
      <mat-grid-tile *ngFor="let item of row" [colspan]="item?.cols || 1">
        <div fxFill fxLayout="row" fxLayoutAlign="start center">

          <app-flex-cell
          [label]="item.label"
          [type]="item.type"
          [value]="item.value"
          ></app-flex-cell>

          <ng-container *ngIf="item.type === 'custom'">
            <ng-container *ngTemplateOutlet="slots?.custom"></ng-container>
          </ng-container>
          <ng-container *ngIf="item.type === 'button'">
            <ng-container *ngTemplateOutlet="slots?.button"></ng-container>
          </ng-container>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
