<div class="form">

  <form class="form-container" (ngSubmit)="onSubmit()" [formGroup]="formTemplate">

    <mat-grid-list [cols]="cols" rowHeight="10vh">
      <mat-grid-tile *ngFor="let question of questions" [colspan]="question.columns || 1">
        <app-form-input [control]="formTemplate.controls[question.key || question.label]" [type]="question.type"
          [label]='question.label'></app-form-input>
      </mat-grid-tile>
    </mat-grid-list>

    <div class="form-row" *ngIf="showButton">
      <button type="submit" mat-button (click)="onSubmit()">submit</button>
    </div>
  </form>

</div>

