<div class="education" #container>
  <div class="education__form">
    <p class="education__form-headline">בדיקת זמינות</p>

    <form #educationForm="ngForm">
      <div class="education__form-field" disableOptionCentering="false">
        <label class="education__form-field-label">איפה ישנים</label>
        <mat-form-field>
          <mat-select
            #select
            [(ngModel)]="forestCenterId"
            name="sleepingPlace"
            (selectionChange)="selectChange($event)"
            (opened)="hideSelectPlaceholder(select)"
            (closed)="showSelectPlaceholder(select)"
          >
          <!-- <mat-option
          value="ששדשד"
        >
          <span class="education__select-option">
            <img
              [src]="'assets/images/userImage.jpg'"
              class="education__select-option-svg"
            />
            <span class="education__select-option-text">ציפורי</span>
          </span>
        </mat-option> -->
            <mat-option
              value="{{ option.id }}"
              *ngFor="let option of tripService.formOptions"
            >
              <span class="education__select-option">
                <img
                  [src]="option.iconPath"
                  class="education__select-option-svg"
                />
                <span class="education__select-option-text">{{
                  option.name
                }}</span>
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="education__form-field-pseudo">
        <label class="education__form-field-pseudo-label">מתאריך</label>

        <label
          class="education__form-field-pseudo-input label-input"
          for="calendar-input"
        >
          <svg-icon
            src="assets/images/calendar.svg"
            class="education__form-field-svg"
          ></svg-icon>
          <input
            class="header__form-field-input"
            airbnb-calendar
            (newDate)="newDateRecived($event)"
            [disabled]="disableDates"
            (sleepingPlace)="newSleepingPlaceRecived($event)"
            (prevDate)="prevDateRecived($event)"
            (closeCalendar)="closeCalendarHandler($event)"
            type="text"
            autocomplete="off"
            [(ngModel)]="date"
            [options]="options"
            (ngModelChange)="dateObjChanged($event)"
            name="calendar-input"
            id="calendar-input"
          />
          <span class="education__form-field-pseudo-input-value">
            {{ sleepingDates.from }}</span
          >
        </label>
      </div>

      <div class="education__form-field-pseudo">
        <label class="education__form-field-pseudo-label">עד תאריך</label>

        <label
          class="education__form-field-pseudo-input label-input"
          for="calendar-input"
        >
          <svg-icon
            src="assets/images/calendar.svg"
            class="education__form-field-svg"
          ></svg-icon>
          <span class="education__form-field-pseudo-input-value">
            {{ sleepingDates.till }}</span
          >
        </label>
      </div>

      <div class="education__link" (click)="printFormValues()">
        <!-- <label class="education__form-group-label link-group">buffer</label> -->
        <span routerLink="{{ routerLinkContinue }}" class="education__link-text"
          >המשך</span
        >
      </div>
    </form>
  </div>
</div>

