@import "../../../../styles.scss";

.education {
  height: calc(100% - 90px);
  background-image: url("../../../../assets/images/education-table-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  width: 100% !important;

  ::ng-deep .airbnb-calendar-container{
    left:-45rem
  }
  

  &__link {
    text-decoration: none;
    height: 5.1rem;
    margin-top: 2.5rem;
    width: 90% !important;
    color: #ffffff;
    border: none;
    font-size: 1.4rem;
    background-color: $primary;
    border-radius: 1rem;
    z-index: 5;
    display: flex;
    box-shadow: 5px 5px 17px 2px rgba($primary, 0.3);
    cursor: pointer !important;

    &-text {
      margin: auto;
      font-size: 1.8rem;
    }
  }

  &__form {
    position: absolute;
    top: calc(50% - 9rem);
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba($color: #ffffff, $alpha: 0.82);
    direction: rtl;
    border-radius: 1rem;
    width: fit-content;
    padding: 3rem 6rem 2rem 6rem;
    z-index: 5;
    box-sizing: border-box;
    width: calc(100% - 200px);

    &-field {
      grid-column: span 1;

      &-pseudo {
        grid-column: span 1;
        display: flex;
        flex-direction: column;
        margin-bottom: 1.25em;
        &-input {
          width: 90%;
          height: 100%;
          border: 1px solid #a2a2a2;
          border: none !important;
          border-radius: 5px;
          background-color: #ffffff;
          cursor: pointer;
          position: relative;
          &-value {
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(-50%);
          }
        }
      }
      &-svg {
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
        border-radius: 50%;
        height: 2.5rem;
        width: 2.5rem;
        & * {
          height: 2.5rem;
          width: 2.5rem;
        }
      }
      &-text {
        align-self: center;
      }
    }
    &-headline {
      font-size: 3.5rem;
      position: absolute;
      margin-bottom: 20px;
      top: -20%;
      right: 0%;
      font-weight: bolder;
    }

    &__field-label {
      z-index: 5;
      font-weight: bold;
      height: 100%;
      margin-bottom: -1rem;
    }

    cursor: pointer !important;
  }
}

form {
  display: grid;
  // width: 100%;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 3rem;
  box-sizing: border-box;
}

mat-select {
  text-align: center;
  border-radius: 5px;
}

#input {
  margin-top: 1.8rem;
}

mat-select,
#input {
  background-color: #ffffff;
  border: 1px solid #a2a2a2;
  border-bottom: 1px solid #a2a2a2;
  height: 5.1rem;
  text-align: right;
}

.text-input {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__label {
    font-weight: bold;
  }

  &__input {
    height: 4rem;
    border: 1px solid #a2a2a2;
  }

  &__input:active,
  &__input:focus {
    outline: none;
  }
}

.education {
  ::ng-deep .mat-form-field-underline {
    display: none;
  }

  ::ng-deep .mat-form-field {
    width: 90%;
  }
  ::ng-deep .mat-form-field-infix {
    width: 90%;
    border-top: 0 !important;
  }

  ::ng-deep .mat-form-field-wrapper {
    // width: 80% !important;
    text-align: right;
  }

  ::ng-deep .mat-select-arrow {
    border: 0 !important;
    &:before {
      border-style: solid;
      border-width: 0.15em 0.15em 0 0;
      content: "";
      display: inline-block;
      height: 0.7em;
      left: 2rem;
      position: relative;
      top: -7px;
      transform: rotate(135deg);
      vertical-align: top;
      width: 0.7em;
      color: $primary;
    }
  }

  ::ng-deep .mat-select-value,
  ::ng-deep .mat-select-value-text,
  ::ng-deep .mat-select-min-line {
    height: 5rem !important;
    vertical-align: middle;
    padding-right: 5px;
  }

  ::ng-deep .mat-select-value-text {
    margin: auto;
  }
  ::ng-deep .mat-select-min-line {
    height: 4rem !important;
  }

  .mat-select-panel .mat-primary {
    text-align: right;
    // width: 26.1rem !important;
  }

  ::ng-deep .mat-select-panel {
    // min-width: 26.1rem !important;
  }

  ::ng-deep .cdk-overlay-pane {
    text-align: right;
    transform: translateX(0) !important;
    transform: translatey(5.1rem) !important;
  }
}
.mat-option {
  text-align: right;
}

.header__form-field-input {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  visibility: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 50px;
  margin-right: 50px;
}

.label-input {
  margin: 0.4375em 0;
}

// @import "../../../../styles.scss";
// form {
//   display: grid;
//   grid-template-columns: 1fr 0.7fr 0.7fr 0.6fr;
//   column-gap: 40px;
// }
// .education:focus{
//   background-color: black !important;
//   padding: 10000px !important;
// }
// .education {
//   height: calc(100% - 90px);
//   background-image: url("../../../../assets/images/education-table-background.jpg");
//   background-size: cover;
//   background-repeat: no-repeat;
//   display: flex;
//   width: 100% !important;

//   &__form-checkbox {
//     height: 25px;
//     width: 25px;
//     margin-left: 5px;
//   }

//   &__link-group {
//     display: flex;
//     align-items: flex-start;
//     flex-direction: column;
//     padding: 0 10px;
//     text-align: right;
//     justify-content: space-evenly;
//     color: transparent;
//   }
//   &__link {
//     text-align: center;
//     text-decoration: none;
//     height: 51px;
//     align-self: end;
//     width: 100%;
//     background-color: #009eee;
//     color: #ffffff;
//     border: none;
//     border-radius: 5px;
//     font-size: 18px;
//     display: flex;
//     & > * {
//       margin: auto;
//     }
//   }

//   &__select-option {
//     display: flex;
//     height: 100%;
//     direction: rtl;

//     padding: 10px 0;
//     height: fit-content;
//     &-svg {
//       margin-left: 25px;
//       border-radius: 50%;
//       height: 50px;
//       width: 50px;
//     }
//     &-text {
//       align-self: center;
//     }
//   }

//   .header__form-group-pseudo-input {
//     height: 51px;
//     width: 261px;
//     border: 1px solid #a2a2a2;
//     border: none !important;
//     border-radius: 5px;
//     background-color: #ffffff;
//     cursor: pointer;
//     position: relative;
//     &-value {
//       position: absolute;
//       top: 50%;
//       right: 5px;
//       transform: translateY(-50%);
//     }
//   }

//   .header__form-group-input {
//     opacity: 0;
//     visibility: none;
//     border: none;
//     outline: none;
//     cursor: pointer;
//     margin-top: 50px;
//     margin-right: 50px;
//   }

//   &__form-container {
//     position: absolute;
//     top: calc(50% - 90px);
//     left: 50%;
//     transform: translate(-50%, -50%);
//     background-color: rgba($color: #ffffff, $alpha: 0.82);
//     direction: rtl;
//     border-radius: 10px;
//     width: fit-content;
//     width: 1280px;
//     padding: 30px 60px 20px 60px;
//     z-index: 5;
//   }
//   &__form-container-headline {
//     font-size: 35px;
//     position: absolute;
//     top: -30%;
//     right: 0%;
//     font-weight: bolder;
//   }
//   &__form-group {
//     display: flex;
//     align-items: flex-start;
//     flex-direction: column;
//     padding: 0 10px;
//     text-align: right;
//     justify-content: space-evenly;
//     position: relative;

//     &-svg {
//       top: 50%;
//       transform: translate(50%, -5%);
//       position: absolute;
//       left: 0;
//       width: 33px !important;
//       height: 33px !important;
//       z-index: 4;

//       & > * {
//         width: 33px !important;
//         height: 33px !important;
//       }
//     }
//     &-input {
//       height: 51px;
//       width: 100%;
//       border: 1px solid #a2a2a2;
//     }

//     &-label {
//       font-size: 14px;
//       font-weight: bold;
//       padding-bottom: 10px;
//     }
//   }
// }
// mat-select {
//   text-align: center;
// }

// .education {
//   ::ng-deep .mat-select-value,
//   ::ng-deep .mat-select-value-text,
//   ::ng-deep .mat-select-min-line {
//     height: 51px !important;
//     vertical-align: middle;
//     padding-right: 5px;
//   }

//   ::ng-deep .mat-select-value-text {
//     margin: auto;
//   }
//   ::ng-deep .mat-select-min-line {
//     height: 51px !important;
//   }

//   ::ng-deep .mat-select-panel {
//     min-width: 261px !important;
//     text-align: right;
//     margin-left: auto;
//     width: 100%;
//     max-width: 100% !important;
//     max-height: fit-content !important;
//   }

//   ::ng-deep .cdk-overlay-pane {
//     text-align: right;
//     transform: translateX(0) !important;
//     transform: translatey(51px) !important;
//   }

//   ::ng-deep .mat-form-field {
//     width: 100%;
//   }

//   ::ng-deep .mat-form-field-underline {
//     display: none;
//   }

//   ::ng-deep .mat-select-arrow {
//     border: 0 !important;
//     &:before {
//       border-style: solid;
//       border-width: 0.15em 0.15em 0 0;
//       content: "";
//       display: inline-block;
//       height: 0.7em;
//       left: 20px;
//       position: relative;
//       top: -5px;
//       transform: rotate(135deg);
//       vertical-align: top;
//       width: 0.7em;
//       // color: $primary;
//     }
//   }

//   ::ng-deep .mat-form-field-infix,
//   .mat-form-field-appearance-legacy .mat-form-field-infix {
//     padding: 0 !important;
//     border-top: 0;
//   }

//   ::ng-deep .mat-form-field-wrapper,
//   .mat-form-field-appearance-legacy .mat-form-field-wrapper,
//   .mat-form-field-appearance-legacy .mat-form-field-wrapper {
//     padding-bottom: 0 !important;
//   }

//   ::ng-deep .mat-checkbox-inner-container,
//   .mat-checkbox-frame {
//     height: 25px !important;
//     width: 25px !important;
//     margin-top: 5px !important ;
//     margin-left: 5px !important;
//   }
//   ::ng-deep .mat-checkbox-label {
//     margin-top: 5px !important ;
//   }
//   // overwrite the checkbox background
//   ::ng-deep .mat-checkbox-checked .mat-checkbox-background,
//   .mat-checkbox-indeterminate .mat-checkbox-background {
//     background-color: #009eee !important;
//   }

//   ::ng-deep .airbnb-calendar-container {
//     left: -360px !important;
//   }
// }

// .mat-select-panel .mat-primary {
//   text-align: right;
//   width: 100%;
// }

// .mat-option {
//   text-align: right;
//   margin: 10px 0;
//   min-height: 55px;
// }

// mat-select,
// #input {
//   background-color: #ffffff;
//   border: 1px solid #a2a2a2;
//   border-bottom: 1px solid #a2a2a2;
//   height: 51px;
//   width: 261px;
//   text-align: right;
//   margin-left: 40px;
//   width: 100%;
// }
// app-date-picker {
//   align-self: center;
// }

// // overwrite the ripple overlay on hover and click
// ::ng-deep
//   .mat-checkbox:not(.mat-checkbox-disabled)
//   .mat-checkbox-ripple
//   .mat-ripple-element {
//   background-color: #009eee !important;
// }
