<div class="education">
  <div class="education__form-container">
    <p class="education__form-container-headline">בדיקת זמינות</p>

    <form #educationForm="ngForm">

      <div class="education__form-group" disableOptionCentering="false">
        <label class="education__form-group-label">איפה ישנים</label>
        <mat-form-field>
          <mat-select #select [(ngModel)]="sleepingPlace" name="sleepingPlace" class="education__form-group-select"
            (opened)="hideSelectPlaceholder(select)" (closed)="showSelectPlaceholder(select)">
            <mat-option value="{{ option.value }}" *ngFor="let option of formOptions">
              <span class="education__select-option">
                <img [src]="option.imgSrc" class="education__select-option-svg" />
                <span class="education__select-option-text">{{
                  option.text
                  }}</span>
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="education__form-group">
        <label class="education__form-group-label">מתאריך</label>
        <svg-icon src="assets/images/calendar.svg" class="education__form-group-svg"></svg-icon>

        <label class="header__form-group-pseudo-input label-input" for="calendarInput">
          <input class="header__form-group-input" airbnb-calendar type="text" [(ngModel)]="date" [options]="options"
            (ngModelChange)="dateObjChanged($event)" name="calendarInput" id="calendarInput" />
          <span class="header__form-group-pseudo-input-value">
            {{ dateObj.from }}</span>
        </label>
      </div>
      <div class="education__form-group">
        <label class="education__form-group-label">עד תאריך</label>
        <svg-icon src="assets/images/calendar.svg" class="education__form-group-svg"></svg-icon>
        <!-- <input class="education__form-group-input" type="text" /> -->
        <label class="header__form-group-pseudo-input label-input" for="calendarInput">
          <span class="header__form-group-pseudo-input-value">
            {{ dateObj.to }}</span>
          <!-- <input [ngModelOptions]="{standalone: true}" class="header__form-group-input" /> -->
        </label>
      </div>
 
      <div class="education__link-group" (click)="printFormValues()"> 
        <label class="education__form-group-label link-group">buffer</label> 
        <a routerLink="/education/results" (click)="printFormValues()" class="education__link"><span>המשך</span></a>
      </div>

      <mat-checkbox class="education__form-checkbox" [ngModelOptions]="{ standalone: true }" [(ngModel)]="checked">טיול
        חד יומי</mat-checkbox>
    </form>
  </div>
</div>
