@import "../../../../styles.scss";
form {
  display: grid;
  grid-template-columns: 1fr 0.7fr 0.7fr 0.6fr;
  column-gap: 40px;
}
.education {
  height: calc(100% - 90px);
  background-image: url("../../../../assets/images/education-table-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  // position: relative;
  display: flex;
  width: 100% !important;

  &__form-checkbox {
    height: 25px;
    width: 25px;
    margin-left: 5px;
  }

  &__link-group {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 10px;
    text-align: right;
    justify-content: space-evenly;
    color: transparent;
  }
  &__link {
    text-align: center;
    text-decoration: none;
    height: 51px;
    align-self: end;
    width: 100%;
    background-color: #009eee;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    & > * {
      margin: auto;
    }
  }

  &__select-option {
    display: flex;
    height: 100%;
    direction: rtl;
    padding: 10px 0;
    height: fit-content;
    &-svg {
      margin-left: 25px;
      border-radius: 50%;
      height: 50px;
      width: 50px;
    }
    &-text {
      align-self: center;
    }
  }

  .header__form-group-pseudo-input {
    height: 51px;
    width: 261px;
    border: 1px solid #a2a2a2;
    border: none !important;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    position: relative;
    &-value {
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
    }
  }

  .header__form-group-input {
    opacity: 0;
    visibility: none;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 50px;
    margin-right: 50px;
  }

  &__form-container {
    position: absolute;
    top: calc(50% - 90px);
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba($color: #ffffff, $alpha: 0.82);
    direction: rtl;
    border-radius: 10px;
    width: fit-content;
    width: 1280px;
    padding: 30px 60px 20px 60px;
    z-index: 5;
  }
  &__form-container-headline {
    font-size: 35px;
    position: absolute;
    top: -30%;
    right: 0%;
    font-weight: bolder;
  }
  &__form-group {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 10px;
    text-align: right;
    justify-content: space-evenly;
    position: relative;

    &-svg {
      top: 50%;
      transform: translate(50%, -5%);
      position: absolute;
      left: 0;
      width: 33px !important;
      height: 33px !important;
      z-index: 4;

      & > * {
        width: 33px !important;
        height: 33px !important;
      }
    }
    &-input {
      height: 51px;
      width: 100%;
      border: 1px solid #a2a2a2;
    }

    &-label {
      font-size: 14px;
      font-weight: bold;
      padding-bottom: 10px;
    }
  }
}
mat-select {
  text-align: center;
}

#input {
  // margin-top: 18px;
}
::ng-deep .mat-select-value,
::ng-deep .mat-select-value-text,
::ng-deep .mat-select-min-line {
  height: 51px !important;
  vertical-align: middle;
  padding-right: 5px;
}

::ng-deep .mat-select-value-text {
  margin: auto;
}
::ng-deep .mat-select-min-line {
  height: 51px !important;
}

.mat-select-panel .mat-primary {
  text-align: right;
  width: 100%;
}

::ng-deep .mat-select-panel {
  min-width: 261px !important;
  text-align: right;
  margin-left: auto;
  width: 100%;
  max-width: 100% !important;
  max-height: fit-content !important;
}

::ng-deep .cdk-overlay-pane {
  text-align: right;
  transform: translateX(0) !important;
  transform: translatey(51px) !important;
}
.mat-option {
  text-align: right;
  margin: 10px 0;
  min-height: 55px;
}

mat-select,
#input {
  background-color: #ffffff;
  border: 1px solid #a2a2a2;
  border-bottom: 1px solid #a2a2a2;
  height: 51px;
  width: 261px;
  text-align: right;
  margin-left: 40px;
  width: 100%;
}
::ng-deep .mat-form-field {
  width: 100%;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-select-arrow {
  border: 0 !important;
  &:before {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: "";
    display: inline-block;
    height: 0.7em;
    left: 20px;
    position: relative;
    top: -5px;
    transform: rotate(135deg);
    vertical-align: top;
    width: 0.7em;
    color: $--green-color-bright;
  }
}

::ng-deep .mat-form-field-infix,
.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0 !important;
  border-top: 0;
}

::ng-deep .mat-form-field-wrapper,
.mat-form-field-appearance-legacy .mat-form-field-wrapper,
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

app-date-picker {
  align-self: center;
}

::ng-deep .mat-checkbox-inner-container,
.mat-checkbox-frame {
  height: 25px !important;
  width: 25px !important;
  margin-top: 5px !important ;
  margin-left: 5px !important;
}
::ng-deep .mat-checkbox-label {
  margin-top: 5px !important ;
}
// overwrite the checkbox background
::ng-deep .mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #009eee !important;
}

// overwrite the ripple overlay on hover and click
::ng-deep
  .mat-checkbox:not(.mat-checkbox-disabled)
  .mat-checkbox-ripple
  .mat-ripple-element {
  background-color: #009eee !important;
}


::ng-deep .airbnb-calendar-container {
  left: -360px !important;
  background-color: black;
}
