<!-- <mat-radio-group [formControl]="control" [name]="question.key" (change)="handleChange($event)">
  <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start start">
    <div fxLayout="row" fxFlex="20" fxLayoutAlign="end center">
      <label>
        {{ question.label }}
      </label>
    </div>
    <div fxLayout="row" fxFlex="20" class="radio-button" fxLayoutAlign="space-between center">
      <mat-radio-button color="primary" *ngFor="let option of question.inputProps.options" [value]="option.value">{{
        option.key }}
      </mat-radio-button>
    </div>
  </div>
</mat-radio-group> -->

<div dir="rtl">
  <mat-radio-group [formControl]="control" [name]="question.key" (change)="handleChange($event)">
    <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start start">
      <div fxLayout="row" fxFlex="20" fxLayoutAlign="end center">
        <label>
          {{ question.label }}
        </label>
      </div>
      <div fxLayout="row" fxFlex="20" class="radio-button" fxLayoutAlign="space-between center">
        <mat-radio-button [checked]="option.checked" color="primary" *ngFor="let option of question?.inputProps?.options"
          [value]="option.value">{{ option.label }}
        </mat-radio-button>
      </div>
    </div>
  </mat-radio-group>
</div>
