<div class="drawer" [ngClass]="{ closed: !isOpen }">
  <div class="drawer-toggle" (click)="toggleDrawer()">
    <span> תזכורת </span>
  </div>
  <h4 class="drawer__headline">הוספת תזכורת</h4>

  <app-form-container #drawerForm
    [questions]="reminderForm"
    (emitFormValues)="newCommentHandler($event)"
  >
    <button class="clear-form" (click)="deleteFormInputs($event)">מחק</button>
  </app-form-container >

  <div class="reminder" *ngFor="let comment of reminderArray; let i = index">
    <div class="reminder__content">
      <div class="reminder__content__msg">
        {{ comment.comment }}
      </div>
      {{ comment.date | date: "dd/MM/yyyy" }} {{ comment.time }}
    </div>
    <div class="reminder__controllers">
      <span (click)="editComment(i)">+</span>
      <span (click)="deleteComment(i)">-</span>
    </div>
  </div>
</div>
