<div fxFill fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="90" fxLayout="column" fxLayoutAlign=" center">
    <div *ngFor="let question of questions">
      <div class="form-title">
        <app-form-header [slots]="{clear}" [slot]="question.group.header.slot">
          <div title fxLayout="row" fxLayoutAlign="start center">
            <app-typography color="primary" bold="600" size="16">
              {{ question.group.header.label }}
            </app-typography>
          </div>
        </app-form-header>
      </div>

      <div>
        <app-form-container [cols]="question.group.cols" [questions]="question.group.questions">
        </app-form-container>
      </div>
    </div>
  </div>
</div>

<!-- template components -->

<ng-template #clear>
  <div
  class="clear-container underline button"
  fxLayout="row"
  fxLayoutAlign="end center"
  (click)="onClear()"
>
  <app-typography color="primary"> X בטל </app-typography>
</div></ng-template>
