@import "../../.././../../../styles.scss";

app-form-container,
app-form-input,
app-form-header,
app-form-autocomplete,
app-form-group,
div {
  height: 100%;
  width: 100%;
}

.form-autocomplete {
  height: fit-content;
}

button.edit-button {
  height: 2rem !important;
  width: 2rem !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.mat-icon-button {
    border-radius: 20% !important;
  }
}

div.edit-button-container {
  padding-bottom: spacing(1);
}

div.clear-button-container {
  display: flex;
}

.underline {
  border-bottom: 1px solid color(primary);
}



div.button {
  cursor: pointer;
  margin-bottom: spacing(1);
  height: 2rem !important;
}
