<div fxFill fxLayout="row" fxLayoutAlign="center center" dir="rtl">

  <mat-accordion multi>
    <app-expend-panel [hideToggle]="true" variant="form" [expanded]="expend">
      <div title fxLayout="row" fxLayoutAlign="space-between center">

        <app-typography color="primary" bold="600" size="16">
          {{group.header.label}}
        </app-typography>

      </div>
      <div description fxLayout="row" fxLayoutAlign="end">
        <app-typography class="client-text" color="primary" (click)="onAddClient()">
          לקוח חדש
        </app-typography>
      </div>
      <app-form-container content [cols]="group.cols" [questions]="group.questions"
        [slots]="{payerName, wantedClient }">
      </app-form-container>
    </app-expend-panel>

    <app-expend-panel [hideToggle]="true" variant="form" [expanded]="true" [disabled]="true"
      [showHeader]="!contactQuestions.group.header">

      <div *ngIf="contactQuestions.group.header" title fxLayout="row" fxLayoutAlign="space-between center">

        <app-typography color="primary" bold="600" size="16">
          {{contactQuestions.group.header.label}}
        </app-typography>

      </div>
      <app-form-container content [cols]="contactQuestions.cols" [questions]="contactQuestions.group.questions">
      </app-form-container>
    </app-expend-panel>
  </mat-accordion>

  <ng-template #payerName let-group="group" let-formGroup="formGroup">
    <app-form-autocomplete [group]="group" [formGroup]="formGroup"></app-form-autocomplete>
  </ng-template>

  <ng-template #wantedClient let-group="group" let-formGroup="formGroup">
    <app-form-autocomplete [group]="group" [formGroup]="formGroup"></app-form-autocomplete>
  </ng-template>

</div>