<div fxFill fxLayout="row" fxLayoutAlign="center center" dir="rtl">
  <div fxFlex="80" fxLayout="column" fxLayoutAlign=" center">
    <div fxFlex="15" class="form-title">
      <app-form-header [slots]="{ newClient}" slot="newClient">
        <div title fxLayout="row" fxLayoutAlign="start center">
          <app-typography color="primary" bold="600" size="16">
            {{ group.header.label }}
          </app-typography>
        </div>
      </app-form-header>
    </div>

    <div class="form-autocomplete">
      <app-form-autocomplete
        [group]="clientQuestions.group"
      ></app-form-autocomplete>
    </div>

    <div fxFlex="15" class="form-title">
      <app-form-header [slots]="{ contactButton }" slot="contactButton">
        <div title fxLayout="row" fxLayoutAlign="start center">
          <app-typography color="primary" bold="600" size="16">
            {{ contactQuestions.group.header.label }}
          </app-typography>
        </div>
      </app-form-header>
    </div>

    <div>
      <app-form-container
        [disable]="!editMode"
        content
        [cols]="contactQuestions.cols"
        [questions]="contactQuestions.group.questions"
        (register)="registerToClient($event)"
      >
      </app-form-container>
    </div>

    <div class="form-autocomplete">
      <app-form-autocomplete
        [group]="payerQuestions.group"
      ></app-form-autocomplete>
    </div>
  </div>

  <ng-template #newClient let-group="group" let-formGroup="formGroup">
    <div fxLayout="row" fxLayoutAlign="end">
      <button
        mat-button
        color="primary"
        (click)="onAddClient()"
        disableRipple="true"
      >
        לקוח חדש
      </button>
    </div>
  </ng-template>

  <ng-template #contactButton>
    <div *ngIf="editMode">
      <div class="edit-button-container" *ngIf="!($saveMode | async)">
        <button
          type="submit"
          disableRipple="true"
          (click)="onEdit()"
          mat-icon-button
          class="edit-button mat-elevation-z1"
        >
          <app-icon
            scale="0.8"
            color="primary"
            key="edit"
            type="mat"
          ></app-icon>
        </button>
      </div>

      <div
        class="clear-container"
        *ngIf="$saveMode | async"
        fxLayout="row"
        fxLayoutAlign="end"
      >
        <app-icon scale="0.8" color="primary" key="clear" type="mat"></app-icon>
        <button
          type="submit"
          disableRipple="true"
          (click)="onClear()"
          mat-button
          color="primary"
          class="mat-elevation-z0"
        >
          בטל
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template #payerName let-group="group" let-formGroup="formGroup">
    <app-form-autocomplete
      [group]="group"
      [formGroup]="formGroup"
    ></app-form-autocomplete>
  </ng-template>

  <ng-template #wantedClient let-group="group" let-formGroup="formGroup">
    <app-form-autocomplete
      [group]="group"
      [formGroup]="formGroup"
    ></app-form-autocomplete>
  </ng-template>
</div>
