<!-- <div class="details-container">
  <div class="deatils-content">

  </div>
  <div class="deatils-actions">
fdkfjdkjfk
  </div>

</div> -->

<mat-card
[ngClass]="['details-container', 'mat-elevation-z0']"
>
  <mat-card-header class="details-header">
    <app-typography [bold]="600" [size]="18">
      {{title}}
    </app-typography>
  </mat-card-header>
  <mat-card-content>
    dsjdksjdks
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary">ביטול הזמנה</button>
  </mat-card-actions>
</mat-card>
