@import "src/styles.scss";

mat-card.details-container {
  background-color: #fbfbfb;
  border-radius: 5px;
  padding: 0px !important;
}
::ng-deep mat-card-header.details-header {
  direction: rtl;

  > div.mat-card-header-text {
    margin: 0px !important;
  }
}

mat-card-actions {
  background-color: #f5f5f5;
  padding: spacing(1);
  height: 8vh;
}

button.cancel-button {
  background-color: color(paper);
  color: color(primary);
  border: 1px solid #a7d2ef;
  box-shadow: 0px 6px 15px #a7d2ef;
}

div.button-container {
  width: 100%;
  height: 100%;
  direction: ltr;
}

div.input-container {
  width: 100%;

  input {
    width: 100%;
  }
}
