<mat-card [ngClass]="['details-container', 'mat-elevation-z0']">
  <mat-card-header class="details-header">
    <app-typography [bold]="600" [size]="18">
      {{ title }}
    </app-typography>
  </mat-card-header>
  <mat-card-content>
    <app-transport-details-table></app-transport-details-table>
  </mat-card-content>
  <mat-card-actions>
    <app-table
      [columns]="columns"
      [data]="data"
      [slots]="{ button: tableButton, custom: input }"
    ></app-table>
    <!-- <button class="cancel-button" mat-raised-button>ביטול הזמנה</button> -->
  </mat-card-actions>
</mat-card>

<ng-template #tableButton>
  <div class="button-container" fxLayout="row" fxLayoutAlign="start center">
    <button class="cancel-button" mat-raised-button>ביטול הזמנה</button>
  </div>
</ng-template>

<ng-template #input>
  <div class="input-container" fxLayout="row" fxLayoutAlign="start center">
    <input>
  </div>
</ng-template>
