@import "../../../../../styles.scss";



.table-details {
  flex-direction: row-reverse;
}

.row-item {
  padding-top: spacing(2);
  padding-bottom: spacing(2);
}

.divider {
  height: 1px;
  background-color: color(default);
}
