<div class="tour-title-container" fxLayout="row" fxLayoutAlign="start">
  <div>
    <app-typography [size]="24">
      {{ value }}
    </app-typography>
  </div>
  <div fxFlex="55" fxLayout="row" fxLayoutAlign="start end">
    <div fxFlex="3">
      <app-icon
        key="fiber_manual_record"
        type="mat"
        color="primary"
        scale="0.3"
      ></app-icon>
    </div>
    <!-- <span> &bull; </span> -->
    <div fxLayout="column" fxLayoutAlign="end center">
      <app-typography [size]="16">
        {{ id }}
      </app-typography>
    </div>
  </div>
</div>
