<div class="date-picker">
    <div class="date-picker__input-group">
      <span class="date-picker__input-group-label">מתאריך</span>
      <span class="date-picker__input">
          <span class="date-picker__input-group-text">20-4-22</span>
        <svg-icon class='date-picker__input-group-svg' src="assets/images/calendar.svg"></svg-icon>
      </span>
    </div>
    <div class="date-picker__starting-date">
        <div class="date-picker__starting-date-headline">
            <button class="date-picker__starting-date-headline-next"></button>
            <span class="date-picker__starting-date-headline-current-month">יוני 2021</span>
            <button class="date-picker__starting-date-headline-previous"></button>
        </div>
    </div>
</div>
