@import "../../.././../../../styles.scss";

div,
app-form-container,
app-form-input,
app-form-header {
  height: 100%;
  width: 100%;
}

div.title {
  height: 40px !important;
}

.label-text {
  padding-left: spacing(1);
}

.divider {
  display: flex;
  justify-content: center;
}

div.list-item {
  width: fit-content;
}
