@import "../../.././../../../styles.scss";

mat-grid-list,
mat-grid-tile,
app-form-container,
app-form-input,
app-form-header,
app-typography,
app-form-autocomplete  {
  height: 100%;
  width: 100%;
}

.row-height {
  top: calc((4vh + 1px) * 11) !important;
}
button.gender-button {
  height: 40px !important;
  width: 40px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: spacing(1);
  margin-bottom: spacing(1);

  &.mat-icon-button {
    border-radius: 20% !important;
  }
}

.client-text {
  cursor: pointer;
}

.label-text {
  padding-left: spacing(1);
}

.divider {
  display: flex;
  justify-content: center;
}

app-form-container {
  overflow: auto;
}

