@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/earlyaccess/opensanshebrew.css");

html,
body {
  height: 100vh;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "open sans hebrew", "Helvetica Neue", sans-serif !important;
  box-sizing: border-box;

}

::ng-deep mat-grid-list,
mat-grid-tile {
  width: 100%;
  height: 100%;
}
