<div fxFill fxLayout="row" fxLayoutAlign="center center" dir="rtl">

  <mat-accordion>
    <app-expend-panel [hideToggle]="true" variant="form" [expanded]="expend">
      <div title fxLayout="row" fxLayoutAlign="space-between center">

        <app-typography color="primary" bold="600" size="16">
          {{detailsGroup.header.label}}
        </app-typography>
        <app-icon type="mat" key="expand_more" color="primary" scale="2"></app-icon>

      </div>
      <app-form-container content [cols]="detailsGroup.cols" [questions]="detailsGroup.questions">
      </app-form-container>
    </app-expend-panel>

    <app-expend-panel [hideToggle]="true" variant="form" [expanded]="!expend">
      <div title fxLayout="row" fxLayoutAlign="space-between center">

        <app-typography color="primary" bold="600" size="16">
          {{budgetGroup.header.label}}
        </app-typography>
        <app-typography size="16">
          {{budgetKKL| currency : 'ILS'}}
        </app-typography>
        <app-icon type="mat" key="expand_more" color="primary" scale="2"></app-icon>

      </div>
      <app-form-container content [cols]="budgetGroup.cols" [questions]="budgetGroup.questions" [slots]="{location}">
      </app-form-container>
    </app-expend-panel>
  </mat-accordion>
</div>

<ng-template #budget></ng-template>
<ng-template #location let-group="group" let-formGroup="formGroup">
  <app-form-budget [group]="group" [formGroup]="formGroup"></app-form-budget>
</ng-template>