@import "../../.././../../../styles.scss";

mat-grid-list,
mat-grid-tile,
app-form-container,
app-form-input,
app-form-header,
mat-accordion,
app-expend-panel,
app-form-budget,
div {
  height: 100%;
  width: 100%;
}

.budget {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}
