<mat-accordion>
  <app-expend-panel>
    <app-form-header
      title
      [text]="detailsGroup.header.text"
      [custom]="detailsGroup.header?.custom"
      [title]="true"
      class="header"
    >
    </app-form-header>
    <app-form-container
      content
      [cols]="detailsGroup.cols"
      [questions]="detailsGroup.questions"
    >
    </app-form-container>
  </app-expend-panel>

  <app-expend-panel [expanded]="true">
    <app-form-header
      title
      [text]="budgetGroup.header.text"
      [custom]="budgetGroup.header?.custom"
      [title]="true"
      [slots]="{budget}"
      class="header"
    >
    </app-form-header>
    <app-form-container
      content
      [cols]="budgetGroup.cols"
      [questions]="budgetGroup.questions"
      [slots]="{location}"
    >
    </app-form-container>
  </app-expend-panel>
</mat-accordion>

<ng-template #budget></ng-template>
<ng-template #location let-group="group" let-formGroup="formGroup">
  <mat-grid-list [cols]="group.cols" rowHeight="2vh">
    <mat-grid-tile>
      <div fxLayout="row" fxLayoutAlign="end center">
        <app-typography color="primary">
          {{ group.label }}
        </app-typography>
      </div>
    </mat-grid-tile>
    <mat-grid-tile
      *ngFor="let question of group.questions"
      [colspan]="question.cols"
      [rowspan]="question.rows"
    >
      <app-form-input
        [control]="formGroup.controls[group.key].controls[question.key]"
        [label]="question.label"
        [disabled]="question.disabled"
        [split]="cols > question.cols"
        [type]="question.type"
        [label]="question.label"
        [icon]="question.icon"
        [options]="question.inputProps?.options"
        [dateOptions]="question.inputProps?.dateOptions"
        [controlType]="question.controlType"
      >
      </app-form-input>
    </mat-grid-tile> </mat-grid-list
></ng-template>
