<div id="pagination" class="pagination" *ngIf="pagesCount >=2 ">
  <span class="pagination-prev" [ngClass]="{ disabled: 1 === +currentPage }" (click)="prevPage()">הקודם</span>
  <span class="pagination-pages"><span class="pagination-pages-page" *ngFor="let item of pagesToShow; let i = index"
      [ngClass]="{ chosen: item === +currentPage }">

      <span class="pagination-next" *ngIf="pagesCount >= +item" (click)="selectPage(item)">{{ item }}</span></span></span>
  <span class="pagination-next" [ngClass]="{ disabled: +pagesCount === +currentPage }" (click)="nextPage()">הבא</span>
</div>