<div
  class="sleeping-form"
  fxFlex="100"
  fxLayout="row-reverse"
  fxLayoutGap="2rem"
  fxLayoutAlign="space-around center"
>
  <h3 class="sleeping-form__name" fxFlex="32">{{tripName}} - שם הטיול  </h3>
  <!-- <p class="sleeping-form-serial"></p>  -->
  <form [dir]="'rtl'" class="sleeping-form__form" fxFlex="64" fxLayout="row">
    <mat-form-field appearance="outline" fxFlex="45">
      <mat-label class="placeholder">מרכז שדה</mat-label>
      <mat-select
        #select
        [(ngModel)]="location"
        name="location"
        class="education__form-group-select"
        
      >
        <mat-option
          value="{{ option.value }}"
          *ngFor="let option of formOptions"
        >
          <span class="education__select-option-text">{{ option.text }}</span>
        </mat-option>
      </mat-select>
      <!-- <input matInput  [(ngModel)]="location" style="text-align: center;" readonly> -->
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="45">
      <mat-label class="placeholder">תאריכי הטיול</mat-label>
      <app-icon matSuffix key="calendar" [color]="'success'"></app-icon>
      <input
        matInput
        class="header__form-group-input sleeping-form__calendar"
        airbnb-calendar
        type="text"
        [(ngModel)]="date"
        [disabled]="disableDates"
        [options]="options"
        (newDate)="newDateRecived($event)"
        (sleepingPlace)="newSleepingPlaceRecived($event)"
        (prevDate)="prevDateRecived($event)"
        (ngModelChange)="dateObjChanged($event)"
        autocomplete="off"
        name="calendar-input"
        id="calendar-input"
      />
    </mat-form-field>
  </form>
</div>