<div class="sleeping-form">
  <h3 class="sleeping-form">שם הטיול</h3>
  <p class="sleeping-form">{{tripName}}</p>
  <mat-form-field appearance="outline">
      <!-- <mat-select
      #select
      [(ngModel)]="location"
      name="location"
      [disabled]
      class="education__form-group-select"
    >
      <mat-option value="{{ option.value }}" *ngFor="let option of formOptions">
          <span class="education__select-option-text">{{ option.text }}</span>
        </mat-option>
    </mat-select> -->
    <input matInput  [(ngModel)]="location" style="text-align: center;" readonly>
</mat-form-field>

<!-- [disabled]="disableDates" -->
      <mat-form-field appearance="outline">

          <input matInput class="header__form-group-input"
          airbnb-calendar type="text" [(ngModel)]="date"
          [disabled]="disableDates"
          [options]="options"
          (newDate)='newDateRecived($event)'
          (sleepingPlace)='newSleepingPlaceRecived($event)'
          (prevDate)='prevDateRecived($event)'
          (ngModelChange)="dateObjChanged($event)"
          name="calendar-input" id="calendar-input" />

          
    </mat-form-field>

  <mat-form-field [dir]="'rtl'" appearance="outline" fxFlex="32"
  
  > 
    <mat-label class="placeholder">תאריכי הטיול</mat-label>
    <app-icon matSuffix key="calendar" [color]="'success'"></app-icon>
    <input
      matInput
      class="header__form-group-input sleeping-form__calendar"
      airbnb-calendar
      type="text"
      [(ngModel)]="date"
      [options]="options"
      (newDate)="newDateRecived($event)"
      (sleepingPlace)="newSleepingPlaceRecived($event)"
      (prevDate)="prevDateRecived($event)"
      (ngModelChange)="dateObjChanged($event)"
      autocomplete="off"
      name="calendar-input"
      id="calendar-input"
    />
  </mat-form-field>
</div>
