.tooltip {
  position: absolute;
  bottom: 100%;
  background-color: #e3e3e3;
  padding: 15px;
  max-width: 160px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
  min-width: 160px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 94%, 66% 94%, 64% 100%, 62% 94%, 0 94%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 94%, 66% 94%, 64% 100%, 62% 94%, 0 94%);
  border: 1px solid #e3e3e3;
}

.tooltip::after {
  content: "";
  position: absolute;
  z-index: -10;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 94%, 66% 94%, 64% 100%, 62% 94%, 0 94%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 94%, 66% 94%, 64% 100%, 62% 94%, 0 94%);
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-color: white;
}

.tooltip__bar-color-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.tooltip__bar-color-type span {
  display: list-item;
  /* This has to be "list-item"                                               */
  list-style-type: disc;
  /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
  margin: 5px;
  font-size: 10px;
}

.tooltip__header {
  z-index: 10;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-weight: bold;
}

.tooltip__occupied-hours {
  font-size: 11px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 5px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tooltip__occupied-hours-bar {
  width: 100%;
  height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.tooltip__occupied-hours-bar-slot {
  margin-left: auto;
  height: 5px;
}

.tooltip__occupied-hours-bar-slot:first-of-type {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.tooltip__occupied-hours-bar-slot:last-of-type {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.tooltip__occupied-hours-hour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tooltip__occupied-hours-hour-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 2px 0 5px;
}

.tooltip__occupied-hours-hour-end span:nth-child(1) {
  margin-left: 2px;
}

.fill {
  background-color: #009eee;
  border: 1px solid #009eee;
}

.background-blue {
  background-color: #448ecd;
  border-top: 4px solid #448ecd;
}

.background-green {
  border-top: 4px solid #37c56b;
  background-color: #37c56b;
}

.background-grey {
  background-color: #ededed;
  border-top: 4px solid #ededed;
}

.blue {
  color: #448ecd;
}

.green {
  color: #37c56b;
}

.grey {
  color: #858585;
}
/*# sourceMappingURL=tooltip.component.css.map */