<div class="save-activity">
    <app-modal>
        <app-sleeping-options-by-day (emitCurrentDay)='getDay($event)' [sleepingOptionsByDay]='days'
            [showSleepAreas]='showSleepAreas'>
        </app-sleeping-options-by-day>
        <div class="save-activity__header">
            <div class="save-activity__header-icon">
                <img *ngIf="type" [src]='activity.img' />
                <svg-icon *ngIf="!type" [src]="activity.svgUrl" class="header__form-group-svg"></svg-icon>
            </div>
            <div class="save-activity__header-content">
                <div class="save-activity__header-content-heading">
                    <span class="save-activity__header-content-heading-constant">שריין פעילות:</span>
                    <span class="save-activity__header-content-heading-input">{{activity.title}}</span>
                </div>
                <div class="save-activity__header-content-heading-customer-type" *ngIf="type">
                    <span> :לקוח מזמין </span>
                    <span class="save-activity__header-content-heading-customer-type-toggle"
                        (click)="orderingCustomerHandler()">
                        <span class="save-activity__header-content-heading-customer-type-toggle-text">כן</span>
                        <span class="save-activity__header-content-heading-customer-type-toggle-text">לא</span>
                        <span class="save-activity__header-content-heading-customer-type-toggle-indicator"
                            [ngClass]="{toggle: orderingCustomer}"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="save-activity__additions">
            <div class="save-activity__additions-text"> :תוספות</div>
            <mat-checkbox class="save-activity__additions-checkbox" (click)="updateAddedAdditions(addition)"
                *ngFor='let addition of additonsType'>{{addition}}</mat-checkbox>
        </div>
        <div class="save-activity__form-bottom-input-area">
            <form [formGroup]="form" (ngSubmit)='onSubmit()' class="save-activity__form-bottom-input-area-inputs">
                <mat-form-field appearance="outline">
                    <mat-label>משעה</mat-label>
                    <input matInput type='time' formControlName="start" name='startingTime' id='startingTime'>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>עד שעה</mat-label>
                    <input matInput type='time' formControlName="end" name='endingTime' id='endingTime'>
                </mat-form-field>
                <button class="save-activity__form-bottom-input-area-button">שריין</button>
            </form>
        </div>
    </app-modal>
</div>