@import "../../../../styles.scss";

mat-form-field {
  text-align: right !important;
  width: 100%;
}

::ng-deep .cdk-overlay-pane {
  transform: translateX(-15%) !important;
  margin-top: 2%;
}

.mat-option {
  text-align: right;
}

::ng-deep .mat-select-panel {
  max-height: 150px !important;
}

::ng-deep .mat-select-arrow-wrapper {
  opacity: 0 !important;
}

mat-icon {
  color: color(primary);
}

::ng-deep.mat-form-field-outline-start {
  width: 100% !important;
}

::ng-deep .size-1 .mat-form-field-outline-gap {
  width: 10% !important;
}

::ng-deep .size-2 .mat-form-field-outline-gap {
  width: 15% !important;
}

::ng-deep .size-3 .mat-form-field-outline-gap {
  width: 20% !important;
}

::ng-deep .size-4 .mat-form-field-outline-gap {
  width: 25% !important;
}
::ng-deep .size-5 .mat-form-field-outline-gap {
  width: 30% !important;
}
::ng-deep .size-6 .mat-form-field-outline-gap {
  width: 35% !important;
}
::ng-deep .size-7 .mat-form-field-outline-gap {
  width: 40% !important;
}

::ng-deep .size-8 .mat-form-field-outline-gap {
  width: 45% !important;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background: none;
}

// background-color: #F8F6F6;
