@import "../../../../styles.scss";

.facilities {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    .header {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        background: #f3f3f3;
        p {
            background: #ffffff;
            padding: 10px;
        }
        .arrows {
            background: color(primary);
            .mat-icon {
                color: white;
            }
            .mat-icon:hover {
                cursor: pointer;
            }
        }
        select {
            background: color(primary);
            color: white;
            direction: rtl;
            padding: 10px;
            border: none;
            border-radius: 4px;
        }
        option {
            border: 1px solid #e5e5e5;
            padding: 10px;
        }
    }
    * {
        margin: 10px;
    }
}
.content-1 {
    justify-content: center;
}
.content-1,
.content-2 {
    display: flex;
    flex: 1;
}
.square {
    height: 12px;
    width: 12px;
    display: inline-block;
}

.description {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
