<div class="facilities">
    <div class="content-1">
        <div class="card">
            <div class="header">
                <select>
                    <option>יום 1</option>
                    <option>יום 2</option>
                </select>
                <p>יום ג' 15.06.21</p>
                <div class="arrows">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </div>
            </div>
            <div class="description">
                <div class="square" [ngStyle]="{background: '#448ecd'}"></div>
                <p>מתקן</p>
                <div class="square" [ngStyle]="{background: '#37c563'}"></div>
                <p>פעילות</p>
                <div class="square" [ngStyle]="{background: '#d220ba'}"></div>
                <p>תוספות בתשלום</p>
            </div>
            <div class="timeline">
                <ng-container *ngFor='let time of timesArray'>
                    <div class="time">
                        <p>{{time}}</p>
                        <hr>
                    </div>
                    <div class="items">
                        <ng-container *ngFor='let item of timeLineArray'>
                            <div class="timeline-cards" *ngIf="time === item.startTime">
                                <app-timeline-card [item]='item'></app-timeline-card>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>

        </div>
    </div>
    <div class="content-2">
        <div class="title">
            <p>הוספת פעילות ללו"ז</p>
            <button>הוספת פעילות חדשה +</button>
        </div>
    </div>

</div>