<div class="facilities" div fxLayout="row" fxLayoutAlign="space-evenly none" fxFlex='100'>
    <app-add-activity (emitFormValues)='addToCalendar($event)' *ngIf="(closeModal$ | async) === 'addActivity'">
    </app-add-activity>
    <app-save-activity (emitFormValues)='addToCalendar($event)' *ngIf="(closeModal$ | async) === 'activity'"
        [activity]='(selectedActivity$ | async)' [type]='activityIsUpComing'>
    </app-save-activity>
    <app-add-facility [facility]='(selectedFacility$ | async)' (emitFormValues)='addToCalendar($event)'
        *ngIf="(closeModal$ | async) === 'facility'">
    </app-add-facility>
    <div class="content-1" fxFlex='50'>
        <div class="card">
            <div class="header">
            </div>
            <div class="description">
                <div class="square" [ngStyle]="{background: '#448ecd'}"></div>
                <p>מתקן</p>
                <div class="square" [ngStyle]="{background: '#37c563'}"></div>
                <p>פעילות</p>
                <div class="square" [ngStyle]="{background: '#d220ba'}"></div>
                <p>תוספות בתשלום</p>
            </div>
            <div class="timeline">
                <!-- <app-calendar></app-calendar> -->
                <!-- start app-calendar -->
                <full-calendar #calendar [options]="calendarOptions">
                </full-calendar>                
                <div class="calendar-hide">
                    <app-dynamic #dynamic></app-dynamic>
                </div>
                <!-- end app-calendar -->
                
            </div>
        </div>
    </div>
    <div class="content-2" fxFlex='45' fxLayout="column">
        <div class="header" fxLayout="column">
            <div class="title" fxLayoutAlign="space-between baseline" dir='rtl'>
                <p fxFlex='80'>הוספת מתקנים ופעילויות ללו"ז</p>
                <button fxFlex='20' (click)="openModal('addActivity')">הוספת פעילות חדשה +</button>
            </div>
            <div class="forms" fxFlex='100'>
                <app-form-container [questions]='formArray' [cols]='3' (register)="logForm($event)" (optionSelected)="onOptionSelected($event)">
                </app-form-container>
            </div>
        </div>
        <div class="cards" fxFlex='100' fxLayout="column">
            <div class="titles">
                <p>מתקני מרכז שדה</p>
            </div>
            <div class="info-card">
                <ng-container *ngFor="let item of facilitiesArray; let i = index">
                    <app-info-card class="facilities-items-item" *ngIf='5 > i' [item]="item"
                        (click)="updateChosenFacility(item) ; openModal('facility')">
                        <app-tooltip class="app-tooltip" [hours]="item.occupiedHours">
                        </app-tooltip>
                    </app-info-card>
                </ng-container>
                <ng-container *ngFor="let item of facilitiesArray; let i = index">
                    <app-info-card class="facilities-items-item" *ngIf='i >= 5 && hiddenElements.facilities'
                        [item]="item" (click)="updateChosenFacility(item) ; openModal('facility')">
                        <app-tooltip class="app-tooltip" [hours]="item.occupiedHours">
                        </app-tooltip>
                    </app-info-card>
                </ng-container>
            </div>
            <p class="full-list"
                (click)="hiddenElements.facilities ? hiddenElements.facilities = false : hiddenElements.facilities = true">
                {{hiddenElements.facilities ? 'סגור רשימה' : 'לרשימה המלאה'}}</p>
        </div>
        <div class="cards" fxFlex='100' fxLayout="column">
            <div class="titles">
                <p>פעילויות קבועות</p>
            </div>
            <div class="info-card" id="activities">
                <ng-container *ngFor="let item of activitiesArray; let i = index">
                    <app-info-card class="facilities-items-item" [item]="item" *ngIf='5 > i'
                        (click)="updateChosenActivity(item) ; openModal('activity')">
                    </app-info-card>
                </ng-container>
                <!-- yak del for now -- theres only 5 (green) activities -->
                <!-- <ng-container *ngFor="let item of activitiesArray; let i = index">
                    <app-info-card class="facilities-items-item" [item]="item"
                    *ngIf='i >= 5 && hiddenElements.activities'
                    (click)="updateChosenActivity(item) ; openModal('activity')">
                </app-info-card>
                </ng-container> -->
            </div>
            <!-- <p class="full-list"
                (click)="hiddenElements.activities ? hiddenElements.activities = false : hiddenElements.activities = true">
                {{hiddenElements.activities ? 'סגור רשימה' : 'לרשימה המלאה'}}</p> -->
        </div>
        <div class="cards" fxFlex='100' fxLayout="column">
            <div class="titles">
                <p>פעילויות קרובות</p>
            </div>
            <div class="card-container">
                <!-- <app-activities-card *ngFor="let activity of upComingActivitiesArray" [obj]='activity'
                 (buttonClicked)="updateChosenUpComingActivity(activity) ; openModal('activity')"></app-activities-card> -->
                <app-activities-card *ngFor="let activity of tripActivitiesInfo" [obj]='activity'
                    (buttonClicked)="updateChosenUpComingActivity(activity) ; openModal('activity')">
                </app-activities-card>
            </div>
            <!-- <app-pagination pagesCount='5' currentPage='1'></app-pagination> -->
            <app-pagination [pagesCount]="pagesAmount" currentPage='1' (newPage)="newPageEmit($event)"></app-pagination>
        </div>
        <!-- <div class="test-calander">
                <button (click)="onTest()">test</button>
            </div> -->
    </div>
</div>