@import "../../../styles.scss";

mat-expansion-panel {
  margin-bottom: 15px;

  &.tour {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom: 1px solid color(primary-dark);
  }

  &.form {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;

    ::ng-deep div.mat-expansion-panel-body {
      padding: 0px !important;
    }
  }

  mat-expansion-panel-header {
    &.tour {
      padding-right: 0px;
    }

    &.form {
      padding: 0px;
      padding-left: spacing(1) !important;
      align-items: end;
      height: 30px !important;
      border-bottom: 1px solid color(primary);
      margin-bottom: spacing(1);
      color: $primary;

      &:hover {
        background-color: color(paper) !important;
      }
    }

    mat-panel-title.form {
      border-bottom: 3px solid color(primary);
    }
  }
}
