@import "../../../styles.scss";

mat-expansion-panel {
  margin-bottom: 15px;

  &.tour {
    border-bottom: 1px solid color(primary-dark);
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }

  mat-expansion-panel-header {
    direction: rtl;
    &.tour {
      padding-right: 0px;
    }
  }
}
