<mat-expansion-panel
  [hideToggle]="hideToggle"
  [expanded]="expanded"
  [disabled]="disabled"
  [ngClass]="[variant, 'expend-panel', 'mat-elevation-z0']"
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false"
>
  <mat-expansion-panel-header
    dir="rtl"
    *ngIf="!showHeader"
    [ngClass]="[variant]"
    (click)="onExpend()"
  >
    <mat-panel-title [ngClass]="[variant]">
      <ng-content select="[title]"></ng-content>
    </mat-panel-title>
    <mat-panel-description>
      <ng-content select="[description]"></ng-content>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div class="content">
    <ng-content select="[content]"></ng-content>
  </div>
</mat-expansion-panel>
