<div class="container" *ngIf="questions.length > 0">
  <mat-grid-list cols="2" rowHeight="5vh">
    <mat-grid-tile class="text">
      <span>{{ title }}</span>
      
    </mat-grid-tile>
    <mat-grid-tile class="text">
      <span>{{ title }}</span>
      
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="10">
      <app-form-container
        [cols]="formCols"
        [questions]="questions"
        [hasButton]="true"
        [slots]="{ button: formButton, group: group }"
      >
      </app-form-container>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<ng-template #formButton>
  <div class="button-container">
    <button type="submit" mat-button>
      <app-icon key="edit" type="mat"></app-icon>
    </button>
  </div>
</ng-template>

<ng-template #group let-question="question" let-item="item" let-form="form">

  <app-form-input
    [groupLabel]="item.key === 'girls' ? question.label : 'g'"
    [control]="form.controls[question.key].controls[item.key]"
    [label]="item.label"
    [split]="cols > question.cols"
    [theme]="item.key === 'girls' && 'accent'"
    [type]="item.controlType"
    [labelLength]="question.inputProps?.labelLength"
  >
  </app-form-input>
</ng-template>
  