<div class="container" *ngIf="questions.length > 0">
  <mat-grid-list cols="1" rowHeight="5vh">
    <mat-grid-tile class="text">
      <span>{{title}}</span>
    </mat-grid-tile>
    <mat-grid-tile rowspan="10">
      <app-form-container [cols]="formCols" [questions]="questions" [showButton]="true" [slots]="{button : formButton}">
      </app-form-container>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<ng-template #formButton>
  <div>
    <button type="submit" mat-button>submit</button>
  </div>
</ng-template>
