<div class="add-facility" *ngrxLet='selectedFacility$ as item'>
    <app-modal>
        <app-sleeping-options-by-day [sleepingOptionsByDay]='days' [showSleepAreas]='showSleepAreas'
            (emitCurrentDay)='getDay($event)' [currentDay]='selectedDay'>
        </app-sleeping-options-by-day>
        <div class="add-facility__header">
            <div class="add-facility__header-icon">
                <svg-icon src="assets/images/{{ item.iconPath || defaultImage }}" class="header__form-group-svg"></svg-icon>
                <!-- <svg-icon [src]="item.svgUrl" class="header__form-group-svg"></svg-icon> -->
            </div>
            <div class="add-facility__header-content">
                <div class="add-facility__header-content-heading">
                    <span class="add-facility__header-content-heading-constant">שריין מתקן:</span>
                    <span class="add-facility__header-content-heading-input">{{item.name}}</span>
                </div>
                <div class="add-facility__header-content-heading-remarks">
                    <span>{{item.maxOccupancy}}</span>
                </div>
            </div>
        </div>
        <form class="add-facility__form" [formGroup]="addFacilityForm" (ngSubmit)='onSubmit()'>
            <div class="add-facility__form-inputs">
                <div class="ngx-timepicker-field-example">
                    <span>משעה</span>
                    <ngx-timepicker-field [format]="24" [defaultTime]="addFacilityForm.value.start" controlOnly='false'
                        (timeChanged)='startTimeChanged($event)'></ngx-timepicker-field>
                </div>
                <div class="ngx-timepicker-field-example">
                    <span>עד שעה</span>
                    <ngx-timepicker-field [format]="24" [defaultTime]="addFacilityForm.value.end" controlOnly='false'
                        (timeChanged)='endTimeChanged($event)'></ngx-timepicker-field>
                </div>
                <button class="add-facility__form-button delete-button" *ngIf='updateForm'
                    (click)="deleteItem($event)">מחיקה</button>
                <button class="add-facility__form-button">{{updateForm ? 'שמירה' : 'שריין'}}</button>
            </div>
        </form>

        <div class="add-facility__occupied-hours-bar">
            <span class="add-facility__occupied-hours-bar-slot" *ngFor="let item of occupiedHoursArray" [ngClass]="{'background-green':item.user =='none',
        'background-grey':(item.user !=='none' && item.user !== username), 
        'background-blue':(item.user === username) }" [ngStyle]="{'width': calculateWidth(item.totalHours) }"></span>
        </div>
        <div class="add-facility__occupied-hours-table">
            <div class="add-facility__occupied-hours-table-header">
                <span class="add-facility__occupied-hours-table-header-right">תפוסת מתקן</span>
                <span class="add-facility__occupied-hours-table-header-left">
                    <span class="add-facility__occupied-hours-table-header-left-type green">פנוי</span>
                    <span class="add-facility__occupied-hours-table-header-left-type grey">תפוס</span>
                    <span class="add-facility__occupied-hours-table-header-left-type blue">שוריין עבורי</span>
                </span>
            </div>
            <div class="add-facility__occupied-hours-table-item" *ngFor="let item of totalTime">
                <span class="add-facility__occupied-hours-hour-start">{{ item.fromHour | numberToTimePipe }}</span>
                <span class="add-facility__occupied-hours-hour-end">
                    <!-- <span> -</span> {{ item.endingHour | numberToTimePipe}}</span> -->
                    <span> -</span> {{ item.tillHour | numberToTimePipe}}
                </span>


                <span class="add-facility__occupied-hours-hour-user">נתפס ע"י {{ item.customerName }} </span>
            </div>
        </div>
    </app-modal>
</div>