@import "../../../styles.scss";

span.primary {
  color: color(primary);
}

span.secondary {
  color: color(secondary);
}
span.warn {
  color: color(warn);
}

span.text {
  color: black;
  font-weight: 600;
}
