.mapdiv {
    height: 100%;
    width: 100%;
}

::ng-deep .esri-feature-content div {
    direction: rtl !important;
}

.nameDiv{
    display: block;
    background-color: #ffffff;
    margin: auto;
    padding: 10px;
}