<div class="sleeping-options">
  <app-sleeping-options-form (emitNewDates)="changeDatesHandler($event)"></app-sleeping-options-form>
  <app-sleeping-options-by-day [sleepingOptionsByDay]="sleepingOptionsByDay">
    <span class="title-span">זמינות לינה</span>
  </app-sleeping-options-by-day>
  <!-- <app-form-container
    #filledNightsForm
    [cols]="'12'"
    (emitFormValues)="addFilledNight($event)"
    [questions]="questions"
    [hasBottomButton]="true" 
  >
    <button class="form-btn" button>שלח</button>
  </app-form-container> -->
  <div class="title">
    <ng-container *ngIf='addSleepingNightDirty'>
      <span class="title-span" [ngStyle]="!addSleepingNight ? addSleepingNightStyles[0] : addSleepingNightStyles[2]"
        (click)='addSleepingNightHandler()'>מקומות לינה ששוריינו</span>
      <span class="title-span add" [ngStyle]="addSleepingNight ? addSleepingNightStyles[1] : null"
        (click)='addSleepingNightHandler()'>הוספת שיריון חדש</span>
    </ng-container>
    <ng-container *ngIf='!addSleepingNightDirty'>
      <span class="title-span">שריין לינה</span>
    </ng-container>
  </div>
  <!-- <hr> -->
  <app-filled-night-form [totalAmount]="5" (emitFormValues)="addFilledNight($event)" [valuesForEdit]='editFormObj'
   *ngIf='!addSleepingNightDirty && addSleepingNight || addSleepingNight && addSleepingNightDirty'>

  </app-filled-night-form>

  <div class="sleeping-options__filled-nights">
    <app-filled-night *ngFor="let filledNight of filledNightsArray; let i = index"
      (deleteFilledNight)="deleteFilledNight(i)" (editFilledNight)="editFilledNight($event, i)" 
      (deleteFilledNightOption)='deleteFilledNightOption($event,i)' (editFilledNightOption)='editFilledNightOption($event,i)'
      [filledNight]="filledNight" [index]="index" [filledNightOptions]='filledNight.optionsArr'></app-filled-night>
  </div>
</div>
