<div class="sleeping-options">
    <app-sleeping-options-form (emitNewDates)="changeDatesHandler($event)"></app-sleeping-options-form>
    <app-sleeping-options-by-day [sleepingOptionsByDay]="sleepingOptionsByDay">
        <h4>זמינות לינה</h4>
    </app-sleeping-options-by-day>
    <app-form-container [cols]="formCols" (emitFormValues)='updateFilledNightsArray($event)' [questions]="questions" [hasButton]="true">
        <button button  >שלח</button>
    </app-form-container>
    <div class="sleeping-options__filled-nights">
        <app-filled-night *ngFor="let filledNight of filledNightsArray" [filledNight]='filledNight'></app-filled-night>
    </div>
   
</div>
 