.sleeping-options {
  height: 100%;
  width: 100% !important;
  z-index: 100;


  ::ng-deep .form {
    overflow: visible !important;
    height: fit-content !important;
  }

  &::ng-deep .airbnb-calendar-container {
    left: 0 !important;
  }

  .title-span {
    color: #448ecd;
    font-size: 16px;
    font-weight: 600;
  }
  hr {
    border: 1px solid #0572ba2b;
  }
  .title {
    margin-top: 40px;
    margin-bottom: 10px;
    border-bottom: 1px solid #0572ba2b;
    text-align: end;
    * {
      // margin: 10px;
    }
    .add {
      text-decoration: underline;
      font-weight: 500;
    }
    .chosen {
      border-bottom: 1px solid #448ecd;
    }
  }
}

.form-btn { 
  width: fit-content;
  background-color: white;
  color: #448ecd;
  border: 3px solid #448ecd;
  padding: 10px 15px;
}

@media screen and (max-width: 1024px) {
  
    ::ng-deep .mat-select-value-text,
    ::ng-deep .mat-select-min-line,
    ::ng-deep .mat-option-text {
      font-size: 14px !important;
    }
  
  .sleeping-options {
    ::ng-deep .SOBD__days-paginatior {
      width: 100%;
    }

    ::ng-deep .SOBD__days {
      width: 65%;
    }
  }
}
