@import "../../../../../styles.scss";

mat-grid-list,
mat-grid-tile,
app-form-container {
  width: 100%;
  height: 100%;
}

.button-container {
  width: 100%;
  height: 100%;
  transform: translateY(-20%);
}

button.edit-button {
  height: 40px !important;
  width: 40px !important;
  border: 1px solid color(primary);
  color: color(primary);

  &.mat-icon-button {
    border-radius: 20% !important;
  }
}
