<div fxLayout="column" fxFlexFill>
  <div fxFlex="35" *ngFor="let form of transportForm">
    <app-form-container [questions]="form.questions" [cols]="'8'" [gutter]="'15'" [hasButton]="form.hasButton"
      [slots]="{button : formButton}">
    </app-form-container>
  </div>
  <div fxFlex="35" >
    <app-transport-details></app-transport-details>
  </div>
</div>

<ng-template #formButton>
  <div class="button-container">
    <button type="submit" mat-button>
      הוספה
    </button>
  </div>
</ng-template>
