<div fxLayout="column" fxFlexFill>
  <div fxFlex="35">
    <app-form
      [formTemplate]="formTemplate"
      [slots]="{ button: formButton }"
      (valueChange)="onValueChange($event)"
    ></app-form>
  </div>
  <div fxFlex="35">
    <app-transport-details></app-transport-details>
  </div>
</div>

<ng-template #formButton>
  <div class="button-container" fxLayout="column" fxLayoutAlign="end start">
    <button
      *ngIf="!editMode"
      type="submit"
      color="primary"
      (click)="onClick()"
      mat-raised-button
    >
      שמור
    </button>
    <button
      *ngIf="editMode"
      type="submit"
      class="edit-button"
      (click)="onEdit()"
      mat-icon-button
    >
      <app-icon scale="1" color="active" key="edit" type="mat"></app-icon>
    </button>
  </div>
</ng-template>
