<form class="form" [dir]="'rtl'" (ngSubmit)="onSubmit()" [formGroup]="filledNightForm">
  <mat-form-field appearance="outline" [ngStyle]="{ 'grid-column': 'span 3' }">
    <mat-label>סוג לינה</mat-label>
    <!-- <mat-select name="sleepingPlace" formControlName="sleepingPlace"> -->
      <mat-select name="accomodationType" formControlName="accomodationType">
      <!-- <mat-option *ngFor="let option of accomodationTypeOptions" value="{{ option }}">{{ option.name }}</mat-option> -->
      <mat-option *ngFor="let option of accomodationTypeOptions" [value]="option">{{ option.name }}</mat-option>
      <!-- <mat-option *ngFor="let option of sleepingTypeOptions" value="{{ option.value }}">{{ option.text }}</mat-option> -->
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" [ngStyle]="{ 'grid-column': 'span 3' }">
    <mat-label>בחר לילות</mat-label>
    <mat-select name="nightsCount" formControlName="nightsCount">
      <!-- <mat-option *ngFor="let option of nightNumberOptions; let i =index" [value]="{option.value"}>
            <mat-checkbox [checked]="selected === i" (change)="onChange(option.text );selected = i"> {{option.text }}</mat-checkbox>
        </mat-option> -->
      <mat-option>
        <mat-checkbox (change)="selectAllOptions()">בחר הכול</mat-checkbox>
      </mat-option>

      <mat-option class="my-select" *ngFor="let option of nightNumberOptions;let index=index" value="{{ option.nightNumberText }}">
        <mat-checkbox class="example-margin" ngDefaultControl
        [(ngModel)]="nightNumberOptions[index].selected" [ngModelOptions]="{standalone: true}" (change)='updateNightCount()'>
          <div>
            <!-- <span>{{option.date | date:'d/M/yy'}}</span> -->
            <span>{{option.date}}</span>
            <span class="checkbox-night-option">לילה {{ option.nightNumber}}</span>
          </div>
        </mat-checkbox>
      </mat-option>

    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" [ngStyle]="{ 'grid-column': 'span 3' }">
    <mat-label>שריין עבור</mat-label>
    <!-- <mat-select name="saveFor" formControlName="saveFor"> -->
      <mat-select name="participant" formControlName="participant">
        <!-- <mat-option *ngFor="let option of participantOptions" value="{{ option }}">{{ option.name }}</mat-option> -->
        <mat-option *ngFor="let option of participantOptions" [value]="option">{{ option.name }}</mat-option>
      <!-- <mat-option *ngFor="let option of saveForOptions" value="{{ option.value }}">{{ option.value }}</mat-option> -->
    </mat-select>
  </mat-form-field>
  <div [ngStyle]="{ 'grid-column': 'span 2' }">
    <mat-form-field appearance="outline" class="width-auto" [ngStyle]="{ 'width': 'auto !importent' }">
      <mat-label>מס לנים</mat-label>
      <!-- <input matInput type="number" name="sleepingAmount" formControlName="sleepingAmount" /> -->
      <input matInput type="number" name="lodgersNumber" formControlName="lodgersNumber" />
    </mat-form-field>
    <div *ngIf="this.filledNightForm.value.saveFor" class="save-for-text">
      מתוך {{ totalAmount }} {{ saveForValue }}
    </div>
  </div>
  <mat-form-field appearance="outline" [ngStyle]="{ 'grid-column': 'span 2' }">
    <mat-label>כמות</mat-label>
    <!-- <input matInput type="number" name="amount" formControlName="amount" /> -->
    <input matInput type="number" name="unitsNumber" formControlName="unitsNumber" />
  </mat-form-field>
  <mat-form-field appearance="outline" [ngStyle]="{ 'grid-column': 'span 6' }">
    <mat-label>הערות</mat-label>
    <textarea matInput name="comments" formControlName="comments"></textarea>
  </mat-form-field>
  <div class="btn__container">
    <button [disabled]="!filledNightForm.valid" class="btn" type="submit">
      הוסף
    </button>
  </div>
</form>