
<form

[dir]="'rtl'"
(ngSubmit)="onSubmit()"
[formGroup]="filledNightForm"
>
<div formArrayName="filledUnits">
  <div *ngFor="let unit of filledNightForm.get('filledUnits')['controls']; let i=index">
   <div [formGroupName]="i">
    <div  fxLayout="row"   fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" >
  <div  fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="25%">
  <!-- <mat-form-field appearance="outline" [ngStyle]="{ 'grid-column': 'span 3' }"> -->
    <mat-form-field appearance="outline" >
    <mat-label>סוג לינה</mat-label>
    <mat-select name="sleepingPlace" formControlName="sleepingPlace">
      <mat-option
        *ngFor="let option of sleepingTypeOptions"
        value="{{ option.id }}"
        >{{ option.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  </div>
  <div  fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="25%">
  <!-- <mat-form-field appearance="outline" [ngStyle]="{ 'grid-column': 'span 3' }"> -->
    <mat-form-field appearance="outline" >
    <mat-label>בחר לילות</mat-label>
    <mat-select name="nightsCount" formControlName="nightsCount">
      <!-- <mat-option *ngFor="let option of nightNumberOptions; let i =index" [value]="{option.value"}>
            <mat-checkbox [checked]="selected === i" (change)="onChange(option.text );selected = i"> {{option.text }}</mat-checkbox>
        </mat-option> -->
      <mat-option
        *ngFor="let option of nightNumberOptions"
         value="{{ option.id }}" 
      >
        {{ option.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div  fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="25%">
  <!-- <mat-form-field appearance="outline" [ngStyle]="{ 'grid-column': 'span 3' }"> -->
    <mat-form-field appearance="outline" >
    <mat-label>שריין עבור</mat-label>
    <mat-select
      (selectionChange)="saveForChangeHandler($event.value)"
      name="saveFor"
      formControlName="saveFor"
    >
      <mat-option
        *ngFor="let option of saveForOptions"
        value="{{ option.id }}"
        >{{ option.name }}</mat-option
      >
    </mat-select>
  </mat-form-field> 
</div>
  <!-- <div [ngStyle]="{ 'grid-column': 'span 2' }"> -->
    <div  fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="25%">
    <!-- <mat-form-field appearance="outline" class="width-auto" [ngStyle]="{ 'width': 'auto !importent' }"> -->
      <mat-form-field appearance="outline" >
      <mat-label>מס לנים</mat-label> 
      <input
        matInput
        type="number"
        name="sleepingAmount"
        formControlName="sleepingAmount"
      />
    </mat-form-field>
    <div *ngIf="this.filledNightForm.value.saveFor" class="save-for-text">
      מתוך {{ totalAmount }} {{ saveForValue }}
    </div>
  </div>
  <div  fxFlex="15%" fxFlex.xs="100%" fxFlex.sm="25%">
  <!-- <mat-form-field appearance="outline" [ngStyle]="{ 'grid-column': 'span 2' }"> -->
  <mat-form-field appearance="outline" >
    <mat-label>כמות</mat-label>
    <input matInput type="number" name="amount" formControlName="amount" />
  </mat-form-field>
  </div>
  </div>
  </div>
 </div>
</div>
 <div class="btn__container">
    <button [disabled]="!filledNightForm.valid" class="btn" type="submit">
    הוסף
   </button>
  </div>
  <mat-form-field appearance="outline" [ngStyle]="{ 'grid-column': 'span 6' }">
    <mat-label>הערות</mat-label>
    <textarea matInput name="comments" formControlName="comments"></textarea>
  </mat-form-field>
 
</form>
