@import '../../../styles.scss';

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .svg-container {
    mat-card {
      height: 80px;
      width: 80px;
      background-color: linear-gradient(0deg, #eeeeee 0%, #fefefe 100%);
      box-shadow: 0px 0px 1px 2px #e5e5e5;
      border-radius: 10px;

    }
  }
  .title-container {
    padding: 8px;
  }
}

svg-icon {
  & *{
    fill :$--blue-color-bright !important;
    width :60px;
    height :60px;
  }
}
