<div class="nav-container">
  <div class="svg-container" (click)="onCardClick()" [matBadge]="item.badgeValue" matBadgeColor="accent"
    matBadgeSize="medium">
    <mat-card [ngClass]="{ 'nav-container': true, active: item.isActive }">
      <mat-card-content>
        <div class="icon-container">
          <app-icon [color]="item.isActive ? 'active' : 'default'" type="svg" [key]="item.svgUrl || 'like'"></app-icon>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="title-container">
    <app-typography [bold]="600" [size]="11">
      {{ item.label }}
    </app-typography>
  </div>
</div>
