<mat-grid-list [cols]="group.cols || 1" [gutterSize]="group.gutter || 1" rowHeight="2vh">

  <mat-grid-tile *ngIf="group.header" [colspan]="group.cols || 1" [rowspan]="2">

    <app-form-header [slot]="group.header?.slot">
      <div title fxLayout="row" fxLayoutAlign="start center">

        <app-typography color="primary" bold="600" size="16">
          {{group.header.label}}
        </app-typography>
      </div>

    </app-form-header>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="group.cols || 1" [rowspan]="group.rows" *ngIf="slot">
    <ng-container *ngTemplateOutlet="
        slot;
        context: {
          formGroup: this.formGroup,
          group: this.group
        }
      "></ng-container>
  </mat-grid-tile>


</mat-grid-list>

