@use "sass:math";
@import "./theme.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/earlyaccess/opensanshebrew.css");

$primary: #448ecd;
$primary-dark: #0572ba;
$accent: #d220ba;
$paper: #fff;
$text: #000000;
$text-light: #a2a2a2;
$success: #37c563;
$danger: #D83020;
$disable:  rgba(0, 0, 0, 0.26);;
$default: #bababa;
$border: #DBDBDB;

$colors: (primary: $primary,
  primary-dark: $primary-dark,
  accent: $accent,
  default: $default,
  disable: $disable,
  border: $border,
  paper: $paper,
  text: $text,
  text-light: $text-light,
  success: $success,
  danger: $danger,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function spacing($spacing) {
  @return $spacing * 8px;
}

html,
body {
  height: 100vh;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "open sans hebrew", "Helvetica Neue", sans-serif !important;
  src: url("assets/fonts/opanSansHebrew/OpenSansHebrew-Regular.ttf") format("opentype");
  box-sizing: border-box;
}

.education {
  background-color: color(primary);
}

::ng-deep mat-grid-list,
mat-grid-tile {
  height: 100%;
  width: 100%;
}


::ng-deep .icon .mat-badge-content {
  font-family: "Material Icons";
}

::ng-deep mat-card-actions,
mat-card-subtitle,
mat-card-content {
  margin: 0px !important;
}
