@use "sass:math";
@import "./theme.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/earlyaccess/opensanshebrew.css");


$primary: #448ecd;
$primary-dark: #0572BA;
$accent: #d220ba;
$default: #bababa;
$disable: #bababa;
$paper: #fff;
$text: #000000;
$text-light: #A2A2A2;
$success: #37c563;

$colors: (primary: $primary,
  primary-dark: $primary-dark,
  accent: $accent,
  default: $default,
  paper: $paper,
  text: $text,
  text-light: $text-light,
  success : $success);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function spacing($spacing) {
  @return $spacing * 8px;
}


html,
body {
  height: 100vh;
  box-sizing: border-box;
  text-align: right;
}

body {
  margin: 0;
  padding: 0;
  font-family: "open sans hebrew", "Helvetica Neue", sans-serif !important;
  src: url("assets/fonts/opanSansHebrew/OpenSansHebrew-Regular.ttf") format("opentype");
  box-sizing: border-box;
}

.education {
  background-color: color(primary);
}

:ng-deep mat-grid-list {
  direction: rtl !important;
  display: flex !important;
  flex-direction: row-reverse !important;

}

mat-grid-tile {
  &.text>figure.mat-figure {
    display: flex;
    flex-direction: column;
  }
}


::ng-deep .icon .mat-badge-content {
  font-family: "Material Icons";
}



::ng-deep mat-card-actions,
mat-card-subtitle,
mat-card-content {
  margin: 0px !important;
}
