@use '~@angular/material'as mat;

@include mat.core();

$primary: (
  "50": "e9f1f9",
  50: #e9f1f9,
  100: #c7ddf0,
  200: #a2c7e6,
  300: #7cb0dc,
  400: #609fd5,
  500: #448ecd,
  600: #3e86c8,
  700: #357bc1,
  800: #2d71ba,
  900: #1f5fae,
  A100: #e7f1ff,
  A200: #b4d3ff,
  A400: #81b6ff,
  A700: #68a7ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$accent: (
  50: #fae4f7,
  100: #f2bcea,
  200: #e990dd,
  300: #e063cf,
  400: #d941c4,
  500: #d220ba,
  600: #cd1cb3,
  700: #c718ab,
  800: #c113a3,
  900: #b60b94,
  A100: #ffe2f9,
  A200: #ffafed,
  A400: #ff7ce2,
  A700: #ff63dd,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$icon: (
  50: #eeeeee,
  100: #d5d5d5,
  200: #bababa,
  300: #9e9e9e,
  400: #898989,
  500: #747474,
  600: #6c6c6c,
  700: #616161,
  800: #575757,
  900: #444444,
  A100: #f6aeae,
  A200: #f18080,
  A400: #ff3f3f,
  A700: #ff2525,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$primary: mat.define-palette($primary, 500);
$accent: mat.define-palette($accent, 500, A100, A400);
$warn: mat.define-palette(mat.$red-palette);

$icon: mat.define-palette($icon, A200, A100, A400);

$primary-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

@include mat.all-component-themes($primary-theme);
