@use '~@angular/material'as mat;

@include mat.core();


$eduction-primary :('50': 'e9f1f9',
  50 : #e9f1f9,
  100 : #c7ddf0,
  200 : #a2c7e6,
  300 : #7cb0dc,
  400 : #609fd5,
  500 : #448ecd,
  600 : #3e86c8,
  700 : #357bc1,
  800 : #2d71ba,
  900 : #1f5fae,
  A100 : #e7f1ff,
  A200 : #b4d3ff,
  A400 : #81b6ff,
  A700 : #68a7ff,
  contrast : (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$education-accent : (
  50 : #e7f8ec,
  100 : #c3eed0,
  200 : #9be2b1,
  300 : #73d692,
  400 : #55ce7a,
  500 : #37c563,
  600 : #31bf5b,
  700 : #2ab851,
  800 : #23b047,
  900 : #16a335,
  A100 : #d7ffdf,
  A200 : #a4ffb5,
  A400 : #71ff8c,
  A700 : #58ff78,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$icon: (
    50 : #eeeeee,
    100 : #d5d5d5,
    200 : #bababa,
    300 : #9e9e9e,
    400 : #898989,
    500 : #747474,
    600 : #6c6c6c,
    700 : #616161,
    800 : #575757,
    900 : #444444,
    A100 : #f6aeae,
    A200 : #f18080,
    A400 : #ff3f3f,
    A700 : #ff2525,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$my-primary: mat.define-palette($eduction-primary);
$my-accent: mat.define-palette($education-accent, A200, A100, A400);
$my-warn: mat.define-palette(mat.$red-palette);

$my-icon: mat.define-palette($icon, A200, A100, A400);

$primary-theme: mat.define-light-theme((color:
(primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    )));

    @include mat.all-component-themes($primary-theme);
