@import "../../../styles.scss";

.my-tours {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../../../assets/images/education-table-background.jpg");
  background-size: cover;
  &__headline {
      font-weight: bold;
    text-align: right;
    margin:  2% 0;
    margin-right: 10%;
}

  &__table-area {
    backdrop-filter: blur(15px) saturate(70%) contrast(70%) brightness(130%)
      opacity(1.1);
      flex: 1;
      width: 90%;
      align-self: center;
      background-color: rgba($color: #ffffff, $alpha: .5);
    &-controllers {
      direction: rtl;
      margin: 0 5%;
      display: flex;
      justify-content: space-between;

      &-button{
          margin: auto 0;
          height: 40px;
          width: 190px;
          background-color: #59a437;
          color: white;
          position: relative;
          border:none;
          box-shadow: 0px 0px 20px 2px #E2E9E1;
      }
    }
  }
}

::ng-deep .mat-select-placeholder{
    text-align: right;
}

::ng-deep .cdk-overlay-pane {
  text-align: right;
  transform: translateX(0) !important;
  transform: translatey(45px) !important;
}

.mat-select-panel .mat-primary {
  text-align: right;
  width: 182px !important;
}
::ng-deep .mat-select-panel{
    min-width: 182px !important;
  text-align: right;

  }
  
::ng-deep .mat-form-field-underline {
  display: none;

}
mat-select,
#input {
  background-color: #ffffff;
  border: 1px solid #a2a2a2;
  border-bottom: 1px solid #a2a2a2;
  height: 42px;
  width: 185px;
  text-align: right;
  margin-left: 40px;
  text-align: right;

}

::ng-deep .mat-select-arrow {
  border: 0 !important;
  &:before {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: "";
    display: inline-block;
    height: 0.7em;
    left: 20px;
    position: relative;
    top: -7px;
    transform: rotate(135deg);
    vertical-align: top;
    width: 0.7em;
    color: $--green-color-bright;
  }
}

::ng-deep .mat-option-text{
  text-align: right;

}

mat-form-field:not(.mat-form-field-should-float) .mat-input-placeholder {
    padding: 10px;
    box-sizing: border-box;
    direction: rtl;
  }
  ::ng-deep .mat-select-value,
::ng-deep .mat-select-value-text,
::ng-deep .mat-select-min-line {
  height: 40px !important;
  vertical-align: middle;
  padding-right: 5px;
}


.plus-sign {
    display:inline-block;
    width:15px;
    height:15px;
    position: absolute;
    right: 5px;
    
    background:
      linear-gradient(#fff,#fff),
      linear-gradient(#fff,#fff),
      #59a437;
    background-position:center;
    background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat:no-repeat;
  }