@import "../../../styles.scss";

:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;


  mat-toolbar {
    justify-content: space-between;
    background-color: inherit;
    padding-left: spacing(5);
    padding-right: spacing(5);
  }
}
.bottom-navigation {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
