<div class="bottom-navigation">
  <div class="bottom-navigation__back">
    <button
      class="bottom-navigation__back-link"
      (click)="previousPageHandler()"
    >
      <app-icon type="mat" key="chevron_right"></app-icon>
    </button>
  </div>
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="nextPageHandler()">
      <div
        fxLayout="row"
        class="button-content"
        xLayoutAlign="space-around stretch"
      >
        <div>
          {{ title }}
        </div>
        <div>
          <app-icon color="" type="mat" key="chevron_left"></app-icon>
        </div>
      </div>
    </button>
  </div>
</div>

<!-- class="bottom-navigation__forward" -->
