<mat-toolbar>
  <div class="back-button-container">
    <button
      class="back-bottom mat-elevation-z1"
      mat-icon-button
      (click)="previousPageHandler()"
    >
      <app-icon type="mat" key="chevron_right"></app-icon>
    </button>
  </div>
  <div class="logo-contianer">
    <app-icon size="200" type="svg" key="bottom-logo"></app-icon>
  </div>
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="nextPageHandler()">
      <div
        fxLayout="row"
        class="button-content"
        xLayoutAlign="space-around stretch"
      >
        <div>
          {{ title }}
        </div>
        <div>
          <app-icon color="active" type="mat" key="chevron_left"></app-icon>
        </div>
      </div>
    </button>
  </div>
</mat-toolbar>
