@import "../../../styles.scss";

button.prev {
  background-color: $paper;
}

mat-toolbar {
  padding-left: spacing(5);
  padding-right: spacing(5);
}

div {
  height: 100%;
}

app-icon {
  width: 100%;
  height: 100%;
}

