<div class="filled-night">
  <div class="date" *ngFor='let item of filledNight.nightsCount'>
    <span>{{item.date}}</span>
    <span>{{item.text}}</span>
  </div>
  <div class="nigths">לילות {{ filledNight.nightsCount.length }}</div>
  <div class="sleeping-place">{{ filledNight.amount }} {{ filledNight.sleepingPlace }}</div>
  <div class="peoples">{{ filledNight.peopleCount }} {{ filledNight.saveFor }}</div>
  <div class="comments">הערה: {{ filledNight.comments }}</div>
  <div class="controllers">
    <p class="filled-night__btn" (click)="emitEditFilledNight(filledNight)">עריכה</p>
    <p class="filled-night__btn" (click)="emitDeleteFilledNight()">מחיקה</p>
  </div>
</div>