.form,
app-form-input,
app-form-header {
  width: 100%;
}

.form-container {
  width: inherit;
  padding: 10px 0;
  box-sizing: border-box;
  padding: 0px;
}

.form-row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

app-input-radio {
  width: 70%;
  height: 70%;
}

button.edit-button {
  height: 40px !important;
  width: 40px !important;

  &.mat-icon-button {
    border-radius: 20% !important;
  }
}
