.form,
app-form-input,
app-form-header,
app-input-radio {
  width: 100%;
}

.form-container {
  width: inherit;
  box-sizing: border-box;
  padding: 0px;
}

.form-row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

button.edit-button {
  transform: translateY(-8px);

  &.mat-icon-button {
    border-radius: 20% !important;
  }
}
