.form,
app-form-input,
app-form-header,
app-input-radio,
app-form-group {
  width: 100%;
  height: 100%;
}

.form-container {
  width: inherit;
  box-sizing: border-box;
  padding: 0px;
}

.button-row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}


::ng-deep airbnb-calendar {
  position:  fixed !important;
  overflow: visible !important;
}

app-input-radio {
  width: 90%;
}
