<div class="form">

  <form class="form-container" (ngSubmit)="onSubmit()" [formGroup]="formTemplate">

    <mat-grid-list [cols]="cols || 1" rowHeight="3vh">

      <mat-grid-tile *ngFor="let question of questions" [colspan]="question.columns || cols" [rowspan]="question.rows">


        <app-form-input *ngIf="!question.custom" [control]="formTemplate.controls[question.key]" [type]="question.type"
          [label]='question.label' [icon]="question.icon" [options]="question.options"
          [controlType]="question.controlType"></app-form-input>

        <app-input-radio [control]="formTemplate.controls[question.key]" [question]="question" *ngIf="question.custom">
        </app-input-radio>

      </mat-grid-tile>



    </mat-grid-list>


    <!-- <div *ngFor="let question of questions" class="form-row" [ngStyle]="{'grid-column': question.columns}"> -->

    <!-- <ng-container *ngIf="question.templateName" >

      <app-number-input
        [formControlName]="question.key"
        [id]="question.key"
        [type]="question.type"
        [innerLabel]='question.innerLabel'
        [form]="form"
        [value]='question.value'
        > </app-number-input>

        </ng-container> -->

    <!-- <app-question *ngIf="!question.templateName && question.key" [question]="question" [form]="form"  ></app-question> -->

    <div class="form-row" *ngIf="showButton">
      <button type="submit" mat-button (click)="onSubmit()">submit</button>
    </div>
  </form>

</div>
