table{
    width: 100%;
    font-family: 'Open Sans Hebrew';
    text-align: center;
}
tr.mat-header-row.cdk-header-row.ng-star-inserted {
    background-color: #448ECD;
    height: 45px;
}
th {
    color: white;
    font-size: 16px;
}
th.mat-header-cell{
    text-align: unset;
}
td{
    color: #707070;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input[type=checkbox]{
    width: 17px;
    height: 17px;
    border: 1px solid #9B9B9B;
}
