<div fxFill fxLayout="row" fxLayoutAlign="center center">
  <mat-accordion>
    <app-expend-panel variant="form" [expanded]="expend">
      <div
        title
        fxLayout="row"
        fxLayoutAlign="space-between center"
        class="title"
      >
        <app-typography color="primary" bold="600" size="16">
          {{ detailsGroup.header.label }}
        </app-typography>
      </div>
      <app-form-container
        content
        [cols]="detailsGroup.cols"
        [questions]="detailsGroup.questions"
      >
      </app-form-container>
    </app-expend-panel>

    <app-expend-panel variant="form" [expanded]="!expend">
      <div title fxLayout="row" fxLayoutAlign="space-between center">
        <app-typography color="primary" bold="600" size="16">
          {{ budgetGroup.header.label }}
        </app-typography>
        <app-typography [size]="(tablet$ | async) ? 12 : 16">
          {{ budgetKKL | currency: "ILS" }}
        </app-typography>
      </div>
      <app-form-container
        content
        [cols]="budgetGroup.cols"
        [questions]="budgetGroup.questions"
        [slots]="{location}"
      >
      </app-form-container>
    </app-expend-panel>
  </mat-accordion>
</div>

<ng-template #location let-group="group" let-formGroup="formGroup">
  <app-squad-budget [group]="group" [formGroup]="formGroup"></app-squad-budget>
</ng-template>
