@import "../../.././../../../styles.scss";

mat-grid-list,
mat-grid-tile,
app-form-container,
app-form-input,
app-form-header,
app-expend-panel,
app-squad-budget,
div {
  height: 100%;
  width: 100%;
}


mat-accordion {
  height: 100%;
  width: 90%;
}

