@import "../../../../styles.scss";

mat-grid-list,
mat-grid-tile,
app-form-input,
form {
  height: 100%;
  width: 100%;
}

.autocomplete {
  background-color: color(border);
  padding-right: spacing(1);
  margin-bottom: spacing(1);
  width: 100%;
}

div.data-container {
  width: 100%;
}
