@import "../../../styles.scss";

.order-tour {
  width: 100%;
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: flex-end;
  direction: rtl !important;
  position: relative;

  &__steps {
    justify-self: stretch;
    width: 60%;
    padding: 0px 20%;
    margin-bottom: 30px;
    background: linear-gradient(0deg, #ffffff 0%, rgba(#d8d8d8, 0.5) 100%);
  }

  &__main {
    box-sizing: border-box;
    flex: 1;
  }
}

::ng-deep div#working-steps {
  border-bottom: 0;
  padding: 0 !important;
}

::ng-deep .chevron {
  border-color: color(primary) !important;
}

::ng-deep .bottom-navigation__forward {
  background-color: color(primary);
  color: #fff;
  border: 0;
  cursor: pointer;
  padding: 5px 30px;
  box-shadow: 0px 3px 10px 2px rgba($color: #000, $alpha: 0.2);

  font-size: 18px;

  &::before {
    border-style: solid;
    border-color: #37c56b;
    border-width: 0.25em 0.25em 0 0;
    display: inline-block;
    height: 0.45em;
    transform: rotate(45deg);
    margin: auto;
    width: 0.45em;
  }
}

::ng-deep div.working-steps__backstroke {
  width: 90% !important;
  top: calc(50% - 10px) !important;
  background-color: #e8e8e8 !important;
}

::ng-deep .bottom-navigation {
  box-sizing: border-box;
  margin: 10px 30px;
  align-self: stretch;
}

::ng-deep .working-steps__step-icon {
  margin-bottom: 0 !important;
  margin-top: 10px !important;
}

::ng-deep .working-steps__step-text {
  padding-top: 10px !important;
}

::ng-deep .chosen {
  background-color: color(primary) !important;

  &__text {
    border-bottom: 3px solid color(primary) !important;
    box-sizing: border-box;
    text-shadow: 0 0 0.01px black;
  }
}

mat-grid-list,
mat-grid-tile,
app-working-steps,
app-squad-assemble,
app-sleeping-options,
app-additions {
  width: 100%;
  height: 100%;
}

.stepper {
  width: 60%;
  direction: rtl;
  display: flex;
  justify-content: space-between;
}

app-bottom-navigation {
  width: 90%;
}

::ng-deep mat-grid-tile.bottom-navigation {
  direction: rtl;

  div {
    width: 100%;
    justify-content: center;
  }
}

.sleeping-width {
  width: 50%;
  margin-left: 50%;
}

app-sleeping-options {
  height: inherit;
  border: 5px solid;
  box-sizing: border-box;
  width: 100%;
}

mat-grid-list.sleeping-width {
  width: 50% !important;
  margin-left: 50%;
}

.steps-container {
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
}
