
<div class="order-tour" [ngClass]="{ 'sleeping-width': activeStep === 1 }">
  <app-drawer *ngIf="activeStep === 0"></app-drawer>
<div >
  <div
  class="content"
  fxLayout="column"
  fxLayoutAlign="space-around stretch"
  fxLayout.xs="column"
  fxFlexFill
  >
  <div fxFlex="10" fxLayoutAlign="center">
    <div class="stepper">
      <app-working-steps
      [steps]="steps"
      (changeActiveStep)="changeActiveStep($event)"
      [activeStep]="activeStep"
      >
        </app-working-steps>
      </div>
    </div>
    <div fxFlex="70">
      <div class="steps-container">
        <ng-content></ng-content>
      </div>
    </div>
    <div
      fxFlex="15"
      fxFlex.xs="15"
      class="bottom-navigation"
      fxLayoutAlign="center"
    >
      <app-bottom-navigation
        [currentPage]="0"
        previousUrl="prevPage"
        nextUrl="nextPage"
        [lastPage]="steps.length"
        (changePage)="changeActiveStepBottomNavigation($event)"
        [title]="activeStep == 4 ? 'העבר למרכז הזמנות' : 'המשך'"
      ></app-bottom-navigation>
    </div>
  </div>
</div>
