.order-tour {
  width: 100%;
  // height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: flex-end;
  direction: rtl !important;
  position: relative;
  
  &__steps {
    justify-self: stretch;
    width: 60%;
    padding: 0px 20%;
    flex: 1 1 100%;
    // margin: 0 auto;
    background: linear-gradient(0deg, #ffffff 0%, rgba(#d8d8d8, 0.5) 100%);
  }

  &__main {
    box-sizing: border-box;
    flex: 1;
  }
}
::ng-deep div#working-steps {
  border-bottom: 0;
  padding: 0 !important;
  // padding-top: 40px !important;
  // margin-bottom: 5px !important;
}

::ng-deep .chevron {
  border-color: #448ecd !important;
}

::ng-deep .bottom-navigation__forward {
  background-color: #448ecd;
  color: #fff;
  border: 0;
  cursor: pointer;
  padding: 5px 30px;
  box-shadow: 0px 3px 10px 2px rgba($color: #000, $alpha: 0.2);

  font-size: 18px;

  &::before {
    border-style: solid;
    border-color: #37c56b;
    border-width: 0.25em 0.25em 0 0;
    display: inline-block;
    height: 0.45em;
    transform: rotate(45deg);
    margin: auto;
    width: 0.45em;
  }
}

::ng-deep div.working-steps__backstroke {
  width: 90% !important;
  top: calc(50% - 10px) !important;
  background-color: #e8e8e8 !important;
}
::ng-deep .bottom-navigation {
  box-sizing: border-box;
  margin: 10px 30px;
  align-self: stretch;
}

::ng-deep .working-steps__step-icon {
  margin-bottom: 0 !important;
  margin-top: 10px !important;
}

::ng-deep .working-steps__step-text {
  padding-top: 10px !important;
}

::ng-deep .chosen {
  background-color: #448ecd !important;
  &__text {
    // font-weight: bold;
    border-bottom: 3px solid #448ecd !important;
    box-sizing: border-box;
    text-shadow: 0 0 0.01px black;
  }
}
