mat-grid-list , mat-grid-tile, app-transport, app-navigation-grid, app-tour-panel {
  width: 100%;
  height: 100%;
}

.additions-container {
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
}
.additions-content {
  width: 100%;
  height: 100%;
}
