<div class="additions-container">
  <mat-grid-list cols="1" rowHeight="20vh">
    <mat-grid-tile>
      <app-navigation-grid
        [navigationGrid]="navigationItems"
      ></app-navigation-grid>
    </mat-grid-tile>
    <mat-grid-tile
      rowspan="1"
      *ngFor="let day of tourDays"
      class="additions-content"
    >
      <ng-container>
        <!-- <app-tour-panel [tourDay]="day"></app-tour-panel> -->
        {{ day.date }}
      </ng-container>
    </mat-grid-tile>
  </mat-grid-list>
</div>
