<div fxLayout="column" fxFlexFill class="additions-container" fxLayoutGap="80px">
  <div class="nav-grid" fxFlex="30">
    <app-navigation-grid></app-navigation-grid>
  </div>

  <div class="additions-content">
    <div class="button-container" fxLayout="row" fxLayoutAlign="start">
      <button mat-raised-button color="primary">הוספה</button>
    </div>
    <div class="tour-title-container" fxLayout="row" fxLayoutAlign="start">
      <div>
        <app-typography [size]="24">
          {{ tour.title }}
        </app-typography>
      </div>
      <div fxFlex="55" fxLayout="row" fxLayoutAlign="start end">
        <div fxFlex="3">
          <app-icon key="fiber_manual_record" type="mat" color="primary" scale="0.3"></app-icon>
        </div>
        <!-- <span> &bull; </span> -->
        <div fxLayout="column" fxLayoutAlign="end center">
          <app-typography [size]="16">
            {{ tour.id }}
          </app-typography>
        </div>
      </div>
    </div>
    <div *ngFor="let location of tour.locations; index as i">
      <app-tour-panel [tour]="tour" [i]="i + 1"></app-tour-panel>
    </div>
  </div>
</div>
